USE [KingResearch]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Get_Leads]    Script Date: 2/28/2023 11:42:21 AM ******/
DROP PROCEDURE [dbo].[Sp_Get_Leads]
GO
/****** Object:  StoredProcedure [dbo].[ManagePartnerAccounts]    Script Date: 2/28/2023 11:42:21 AM ******/
DROP PROCEDURE [dbo].[ManagePartnerAccounts]
GO
/****** Object:  StoredProcedure [dbo].[GetPartnerAccounts_Test]    Script Date: 2/28/2023 11:42:21 AM ******/
DROP PROCEDURE [dbo].[GetPartnerAccounts_Test]
GO
/****** Object:  StoredProcedure [dbo].[GetPartnerAccounts]    Script Date: 2/28/2023 11:42:21 AM ******/
DROP PROCEDURE [dbo].[GetPartnerAccounts]
GO
/****** Object:  StoredProcedure [dbo].[GetDashboard]    Script Date: 2/28/2023 11:42:21 AM ******/
DROP PROCEDURE [dbo].[GetDashboard]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomers]    Script Date: 2/28/2023 11:42:21 AM ******/
DROP PROCEDURE [dbo].[GetCustomers]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__PasswordK__6166761E]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__Password__607251E5]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__ModifiedO__5F7E2DAC]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__CreatedOn__5E8A0973]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__PublicKey__5D95E53A]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsDelete__5CA1C101]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsDisable__5BAD9CC8]
GO
ALTER TABLE [dbo].[Tags] DROP CONSTRAINT [DF__Tags__ModifiedOn__5AB9788F]
GO
ALTER TABLE [dbo].[Tags] DROP CONSTRAINT [DF__Tags__CreatedOn__59C55456]
GO
ALTER TABLE [dbo].[Tags] DROP CONSTRAINT [DF__Tags__PublicKey__58D1301D]
GO
ALTER TABLE [dbo].[Tags] DROP CONSTRAINT [DF__Tags__IsDelete__57DD0BE4]
GO
ALTER TABLE [dbo].[Tags] DROP CONSTRAINT [DF__Tags__IsDisabled__56E8E7AB]
GO
ALTER TABLE [dbo].[Strategies] DROP CONSTRAINT [DF__Strategie__Modif__55F4C372]
GO
ALTER TABLE [dbo].[Strategies] DROP CONSTRAINT [DF__Strategie__Creat__55009F39]
GO
ALTER TABLE [dbo].[Strategies] DROP CONSTRAINT [DF__Strategie__Publi__540C7B00]
GO
ALTER TABLE [dbo].[Strategies] DROP CONSTRAINT [DF__Strategie__IsDel__531856C7]
GO
ALTER TABLE [dbo].[Strategies] DROP CONSTRAINT [DF__Strategie__IsDis__5224328E]
GO
ALTER TABLE [dbo].[Stocks] DROP CONSTRAINT [DF__Stocks__Modified__51300E55]
GO
ALTER TABLE [dbo].[Stocks] DROP CONSTRAINT [DF__Stocks__CreatedO__503BEA1C]
GO
ALTER TABLE [dbo].[Stocks] DROP CONSTRAINT [DF__Stocks__PublicKe__4F47C5E3]
GO
ALTER TABLE [dbo].[Stocks] DROP CONSTRAINT [DF__Stocks__IsDelete__4E53A1AA]
GO
ALTER TABLE [dbo].[Stocks] DROP CONSTRAINT [DF__Stocks__IsDisabl__4D5F7D71]
GO
ALTER TABLE [dbo].[Stocks] DROP CONSTRAINT [DF__Stocks__LotSize__4C6B5938]
GO
ALTER TABLE [dbo].[ServiceTypes] DROP CONSTRAINT [DF__ServiceTy__Modif__4B7734FF]
GO
ALTER TABLE [dbo].[ServiceTypes] DROP CONSTRAINT [DF__ServiceTy__Creat__4A8310C6]
GO
ALTER TABLE [dbo].[ServiceTypes] DROP CONSTRAINT [DF__ServiceTy__Publi__498EEC8D]
GO
ALTER TABLE [dbo].[ServiceTypes] DROP CONSTRAINT [DF__ServiceTy__IsDel__489AC854]
GO
ALTER TABLE [dbo].[ServiceTypes] DROP CONSTRAINT [DF__ServiceTy__IsDis__47A6A41B]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [DF__Services__Modifi__46B27FE2]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [DF__Services__Create__45BE5BA9]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [DF__Services__Public__44CA3770]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [DF__Services__IsDele__43D61337]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [DF__Services__IsDisa__42E1EEFE]
GO
ALTER TABLE [dbo].[ServiceCategories] DROP CONSTRAINT [DF__ServiceCa__Modif__41EDCAC5]
GO
ALTER TABLE [dbo].[ServiceCategories] DROP CONSTRAINT [DF__ServiceCa__Creat__40F9A68C]
GO
ALTER TABLE [dbo].[ServiceCategories] DROP CONSTRAINT [DF__ServiceCa__Publi__40058253]
GO
ALTER TABLE [dbo].[ServiceCategories] DROP CONSTRAINT [DF__ServiceCa__IsDel__3F115E1A]
GO
ALTER TABLE [dbo].[ServiceCategories] DROP CONSTRAINT [DF__ServiceCa__IsDis__3E1D39E1]
GO
ALTER TABLE [dbo].[Segments] DROP CONSTRAINT [DF__Segments__Modifi__3D2915A8]
GO
ALTER TABLE [dbo].[Segments] DROP CONSTRAINT [DF__Segments__Create__3C34F16F]
GO
ALTER TABLE [dbo].[Segments] DROP CONSTRAINT [DF__Segments__Public__3B40CD36]
GO
ALTER TABLE [dbo].[Segments] DROP CONSTRAINT [DF__Segments__IsDele__3A4CA8FD]
GO
ALTER TABLE [dbo].[Segments] DROP CONSTRAINT [DF__Segments__IsDisa__395884C4]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__ModifiedO__3864608B]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__CreatedOn__37703C52]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__PublicKey__367C1819]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__IsDelete__3587F3E0]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__IsDisable__3493CFA7]
GO
ALTER TABLE [dbo].[RoleMenus] DROP CONSTRAINT [DF__RoleMenus__Modif__339FAB6E]
GO
ALTER TABLE [dbo].[RoleMenus] DROP CONSTRAINT [DF__RoleMenus__Creat__32AB8735]
GO
ALTER TABLE [dbo].[RoleMenus] DROP CONSTRAINT [DF__RoleMenus__Publi__31B762FC]
GO
ALTER TABLE [dbo].[RoleMenus] DROP CONSTRAINT [DF__RoleMenus__IsDel__30C33EC3]
GO
ALTER TABLE [dbo].[RoleMenus] DROP CONSTRAINT [DF__RoleMenus__IsDis__2FCF1A8A]
GO
ALTER TABLE [dbo].[Pincodes] DROP CONSTRAINT [DF__Pincodes__Modifi__2EDAF651]
GO
ALTER TABLE [dbo].[Pincodes] DROP CONSTRAINT [DF__Pincodes__Create__2DE6D218]
GO
ALTER TABLE [dbo].[Pincodes] DROP CONSTRAINT [DF__Pincodes__Public__2CF2ADDF]
GO
ALTER TABLE [dbo].[Pincodes] DROP CONSTRAINT [DF__Pincodes__IsDele__2BFE89A6]
GO
ALTER TABLE [dbo].[Pincodes] DROP CONSTRAINT [DF__Pincodes__IsDisa__2B0A656D]
GO
ALTER TABLE [dbo].[PerformanceResults] DROP CONSTRAINT [DF__Performan__Modif__2A164134]
GO
ALTER TABLE [dbo].[PerformanceResults] DROP CONSTRAINT [DF__Performan__Creat__29221CFB]
GO
ALTER TABLE [dbo].[PerformanceResults] DROP CONSTRAINT [DF__Performan__Publi__282DF8C2]
GO
ALTER TABLE [dbo].[PerformanceResults] DROP CONSTRAINT [DF__Performan__IsDel__2739D489]
GO
ALTER TABLE [dbo].[PerformanceResults] DROP CONSTRAINT [DF__Performan__IsDis__2645B050]
GO
ALTER TABLE [dbo].[PaymentModes] DROP CONSTRAINT [DF__PaymentMo__Modif__25518C17]
GO
ALTER TABLE [dbo].[PaymentModes] DROP CONSTRAINT [DF__PaymentMo__Creat__245D67DE]
GO
ALTER TABLE [dbo].[PaymentModes] DROP CONSTRAINT [DF__PaymentMo__Publi__236943A5]
GO
ALTER TABLE [dbo].[PaymentModes] DROP CONSTRAINT [DF__PaymentMo__IsDel__22751F6C]
GO
ALTER TABLE [dbo].[PaymentModes] DROP CONSTRAINT [DF__PaymentMo__IsDis__2180FB33]
GO
ALTER TABLE [dbo].[PartnerAccounts] DROP CONSTRAINT [DF__PartnerAc__Modif__208CD6FA]
GO
ALTER TABLE [dbo].[PartnerAccounts] DROP CONSTRAINT [DF__PartnerAc__Creat__1F98B2C1]
GO
ALTER TABLE [dbo].[PartnerAccounts] DROP CONSTRAINT [DF__PartnerAc__Publi__1EA48E88]
GO
ALTER TABLE [dbo].[PartnerAccounts] DROP CONSTRAINT [DF__PartnerAc__IsDel__1DB06A4F]
GO
ALTER TABLE [dbo].[PartnerAccounts] DROP CONSTRAINT [DF__PartnerAc__IsDis__1CBC4616]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__ModifiedO__1BC821DD]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__CreatedOn__1AD3FDA4]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__PublicKey__19DFD96B]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__IsDelete__18EBB532]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__IsDisable__17F790F9]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__SortOrder__17036CC0]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__ParentId__160F4887]
GO
ALTER TABLE [dbo].[LeadTypes] DROP CONSTRAINT [DF__LeadTypes__Modif__151B244E]
GO
ALTER TABLE [dbo].[LeadTypes] DROP CONSTRAINT [DF__LeadTypes__Creat__14270015]
GO
ALTER TABLE [dbo].[LeadTypes] DROP CONSTRAINT [DF__LeadTypes__Publi__1332DBDC]
GO
ALTER TABLE [dbo].[LeadTypes] DROP CONSTRAINT [DF__LeadTypes__IsDel__123EB7A3]
GO
ALTER TABLE [dbo].[LeadTypes] DROP CONSTRAINT [DF__LeadTypes__IsDis__114A936A]
GO
ALTER TABLE [dbo].[LeadSources] DROP CONSTRAINT [DF__LeadSourc__Modif__10566F31]
GO
ALTER TABLE [dbo].[LeadSources] DROP CONSTRAINT [DF__LeadSourc__Creat__0F624AF8]
GO
ALTER TABLE [dbo].[LeadSources] DROP CONSTRAINT [DF__LeadSourc__Publi__0E6E26BF]
GO
ALTER TABLE [dbo].[LeadSources] DROP CONSTRAINT [DF__LeadSourc__IsDel__0D7A0286]
GO
ALTER TABLE [dbo].[LeadSources] DROP CONSTRAINT [DF__LeadSourc__IsDis__0C85DE4D]
GO
ALTER TABLE [dbo].[Leads_shadow] DROP CONSTRAINT [DF_Leads_shadow_AuditApp]
GO
ALTER TABLE [dbo].[Leads_shadow] DROP CONSTRAINT [DF_Leads_shadow_AuditUser]
GO
ALTER TABLE [dbo].[Leads_shadow] DROP CONSTRAINT [DF_Leads_shadow_AuditDate]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__ModifiedO__09A971A2]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__IsWon__04E4BC85]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__IsSpam__03F0984C]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__CreatedOn__08B54D69]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__IsDelete__06CD04F7]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__IsDisable__05D8E0BE]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__LeadSourc__01142BA1]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__LeadTypeK__00200768]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__AssignedT__0A9D95DB]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__PublicKey__07C12930]
GO
ALTER TABLE [dbo].[Expirys] DROP CONSTRAINT [DF__Expirys__Modifie__7F2BE32F]
GO
ALTER TABLE [dbo].[Expirys] DROP CONSTRAINT [DF__Expirys__Created__7E37BEF6]
GO
ALTER TABLE [dbo].[Expirys] DROP CONSTRAINT [DF__Expirys__PublicK__7D439ABD]
GO
ALTER TABLE [dbo].[Expirys] DROP CONSTRAINT [DF__Expirys__IsDelet__7C4F7684]
GO
ALTER TABLE [dbo].[Expirys] DROP CONSTRAINT [DF__Expirys__IsDisab__7B5B524B]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__IsAdm__7A672E12]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__Modif__797309D9]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__Creat__787EE5A0]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__Publi__778AC167]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__IsDel__76969D2E]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__IsDis__75A278F5]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__IsLea__74AE54BC]
GO
ALTER TABLE [dbo].[CustomerTypes] DROP CONSTRAINT [DF__CustomerT__Modif__73BA3083]
GO
ALTER TABLE [dbo].[CustomerTypes] DROP CONSTRAINT [DF__CustomerT__Creat__72C60C4A]
GO
ALTER TABLE [dbo].[CustomerTypes] DROP CONSTRAINT [DF__CustomerT__Publi__71D1E811]
GO
ALTER TABLE [dbo].[CustomerTypes] DROP CONSTRAINT [DF__CustomerT__IsDel__70DDC3D8]
GO
ALTER TABLE [dbo].[CustomerTypes] DROP CONSTRAINT [DF__CustomerT__IsDis__6FE99F9F]
GO
ALTER TABLE [dbo].[CustomerTags] DROP CONSTRAINT [DF__CustomerT__Modif__6EF57B66]
GO
ALTER TABLE [dbo].[CustomerTags] DROP CONSTRAINT [DF__CustomerT__Creat__6E01572D]
GO
ALTER TABLE [dbo].[CustomerTags] DROP CONSTRAINT [DF__CustomerT__Publi__6D0D32F4]
GO
ALTER TABLE [dbo].[CustomerTags] DROP CONSTRAINT [DF__CustomerT__IsDel__6C190EBB]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Modif__6B24EA82]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Creat__6A30C649]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Creat__693CA210]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Publi__68487DD7]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__IsDel__6754599E]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__IsDis__66603565]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Disco__656C112C]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Amoun__6477ECF3]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Amoun__6383C8BA]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Actua__628FA481]
GO
ALTER TABLE [dbo].[Customers] DROP CONSTRAINT [DF__Customers__Modif__619B8048]
GO
ALTER TABLE [dbo].[Customers] DROP CONSTRAINT [DF__Customers__Creat__60A75C0F]
GO
ALTER TABLE [dbo].[Customers] DROP CONSTRAINT [DF__Customers__Publi__5FB337D6]
GO
ALTER TABLE [dbo].[Customers] DROP CONSTRAINT [DF__Customers__IsDel__5EBF139D]
GO
ALTER TABLE [dbo].[CommunicationTemplates] DROP CONSTRAINT [DF__Communica__Modif__5DCAEF64]
GO
ALTER TABLE [dbo].[CommunicationTemplates] DROP CONSTRAINT [DF__Communica__Creat__5CD6CB2B]
GO
ALTER TABLE [dbo].[CommunicationTemplates] DROP CONSTRAINT [DF__Communica__Publi__5BE2A6F2]
GO
ALTER TABLE [dbo].[CommunicationTemplates] DROP CONSTRAINT [DF__Communica__IsDel__5AEE82B9]
GO
ALTER TABLE [dbo].[CommunicationTemplates] DROP CONSTRAINT [DF__Communica__IsDis__59FA5E80]
GO
ALTER TABLE [dbo].[CommunicationModes] DROP CONSTRAINT [DF__Communica__Modif__59063A47]
GO
ALTER TABLE [dbo].[CommunicationModes] DROP CONSTRAINT [DF__Communica__Creat__5812160E]
GO
ALTER TABLE [dbo].[CommunicationModes] DROP CONSTRAINT [DF__Communica__Publi__571DF1D5]
GO
ALTER TABLE [dbo].[CommunicationModes] DROP CONSTRAINT [DF__Communica__IsDel__5629CD9C]
GO
ALTER TABLE [dbo].[CommunicationModes] DROP CONSTRAINT [DF__Communica__IsDis__5535A963]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__Modif__5441852A]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__Creat__534D60F1]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__Publi__52593CB8]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__IsDel__5165187F]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__IsDis__5070F446]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__IsPub__4F7CD00D]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__CallS__4E88ABD4]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__LotSi__4D94879B]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__IsInt__4CA06362]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__Trade__4BAC3F29]
GO
/****** Object:  UserDefinedFunction [dbo].[fnTableColumnInfo]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP FUNCTION [dbo].[fnTableColumnInfo]
GO
/****** Object:  Table [dbo].[xl_Partners]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[xl_Partners]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[UserTypes]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Tags]
GO
/****** Object:  Table [dbo].[Strategies]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Strategies]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Stocks]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[ServiceTypes]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Services]
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[ServiceCategories]
GO
/****** Object:  Table [dbo].[Segments]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Segments]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[RoleMenus]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[RoleMenus]
GO
/****** Object:  Table [dbo].[Pincodes]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Pincodes]
GO
/****** Object:  Table [dbo].[PerformanceResults]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[PerformanceResults]
GO
/****** Object:  Table [dbo].[PaymentModes]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[PaymentModes]
GO
/****** Object:  Table [dbo].[PartnerComments]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[PartnerComments]
GO
/****** Object:  Table [dbo].[PartnerAccounts]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[PartnerAccounts]
GO
/****** Object:  Table [dbo].[MobileUsers]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[MobileUsers]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Menus]
GO
/****** Object:  Table [dbo].[LeadTypes]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[LeadTypes]
GO
/****** Object:  Table [dbo].[LeadSources]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[LeadSources]
GO
/****** Object:  Table [dbo].[Leads_shadow]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Leads_shadow]
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Leads]
GO
/****** Object:  Table [dbo].[Expirys]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Expirys]
GO
/****** Object:  Table [dbo].[Enquiries]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Enquiries]
GO
/****** Object:  Table [dbo].[CustomerTypes]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[CustomerTypes]
GO
/****** Object:  Table [dbo].[CustomerTags]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[CustomerTags]
GO
/****** Object:  Table [dbo].[CustomerServices]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[CustomerServices]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[Customers]
GO
/****** Object:  Table [dbo].[CommunicationTemplates]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[CommunicationTemplates]
GO
/****** Object:  Table [dbo].[CommunicationModes]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[CommunicationModes]
GO
/****** Object:  Table [dbo].[CallPerformance]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP TABLE [dbo].[CallPerformance]
GO
/****** Object:  UserDefinedFunction [dbo].[fnTableHasPrimaryKey]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP FUNCTION [dbo].[fnTableHasPrimaryKey]
GO
/****** Object:  UserDefinedFunction [dbo].[fnIsColumnPrimaryKey]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP FUNCTION [dbo].[fnIsColumnPrimaryKey]
GO
/****** Object:  UserDefinedFunction [dbo].[fnColumnDefault]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP FUNCTION [dbo].[fnColumnDefault]
GO
/****** Object:  UserDefinedFunction [dbo].[fnCleanDefaultValue]    Script Date: 2/28/2023 11:42:22 AM ******/
DROP FUNCTION [dbo].[fnCleanDefaultValue]
GO
/****** Object:  UserDefinedFunction [dbo].[fnCleanDefaultValue]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnCleanDefaultValue](@sDefaultValue varchar(4000))
RETURNS varchar(4000)
AS
BEGIN
	RETURN SubString(@sDefaultValue, 2, DataLength(@sDefaultValue)-2)
END



GO
/****** Object:  UserDefinedFunction [dbo].[fnColumnDefault]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnColumnDefault](@sTableName varchar(128), @sColumnName varchar(128))
RETURNS varchar(4000)
AS
BEGIN
	DECLARE @sDefaultValue varchar(4000)

	SELECT	@sDefaultValue = dbo.fnCleanDefaultValue(COLUMN_DEFAULT)
	FROM	INFORMATION_SCHEMA.COLUMNS
	WHERE	TABLE_NAME = @sTableName
	 AND 	COLUMN_NAME = @sColumnName

	RETURN 	@sDefaultValue

END



GO
/****** Object:  UserDefinedFunction [dbo].[fnIsColumnPrimaryKey]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fnIsColumnPrimaryKey](@sTableName varchar(128), @nColumnName varchar(128))
RETURNS bit
AS
BEGIN
	DECLARE @nTableID int,
		@nIndexID int,
		@i int
	
	SET 	@nTableID = OBJECT_ID(@sTableName)
	
	SELECT 	@nIndexID = indid
	FROM 	sysindexes
	WHERE 	id = @nTableID
	 AND 	indid BETWEEN 1 And 254 
	 AND 	(status & 2048) = 2048
	
	IF @nIndexID Is Null
		RETURN 0
	
	IF @nColumnName IN
		(SELECT sc.[name]
		FROM 	sysindexkeys sik
			INNER JOIN syscolumns sc ON sik.id = sc.id AND sik.colid = sc.colid
		WHERE 	sik.id = @nTableID
		 AND 	sik.indid = @nIndexID)
	 BEGIN
		RETURN 1
	 END


	RETURN 0
END



GO
/****** Object:  UserDefinedFunction [dbo].[fnTableHasPrimaryKey]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnTableHasPrimaryKey](@sTableName varchar(128))
RETURNS bit
AS
BEGIN
	DECLARE @nTableID int,
		@nIndexID int
	
	SET 	@nTableID = OBJECT_ID(@sTableName)
	
	SELECT 	@nIndexID = indid
	FROM 	sysindexes
	WHERE 	id = @nTableID
	 AND 	indid BETWEEN 1 And 254 
	 AND 	(status & 2048) = 2048
	
	IF @nIndexID IS NOT Null
		RETURN 1
	
	RETURN 0
END



GO
/****** Object:  Table [dbo].[CallPerformance]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[CallPerformance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TradeType] [varchar](30) NULL,
	[CallDate] [datetime] NULL,
	[StrategyKey] [varchar](50) NULL,
	[CallServiceKey] [varchar](50) NULL,
	[IsIntraday] [varchar](50) NULL,
	[StockKey] [varchar](50) NULL,
	[LotSize] [int] NULL,
	[SegmentKey] [varchar](50) NULL,
	[ExpiryKey] [varchar](50) NULL,
	[OptionValue] [varchar](100) NULL,
	[EntryPrice] [decimal](12, 2) NULL,
	[StopLossPrice] [decimal](12, 2) NULL,
	[Target1Price] [decimal](12, 2) NULL,
	[Target2Price] [decimal](12, 2) NULL,
	[Target3Price] [decimal](12, 2) NULL,
	[ExpectedReturn] [decimal](12, 2) NULL,
	[CallStatus] [varchar](50) NULL,
	[ExitPrice] [decimal](12, 2) NULL,
	[ResultHigh] [decimal](12, 2) NULL,
	[ResultTypeKey] [varchar](50) NULL,
	[ActualReturn] [decimal](12, 2) NULL,
	[NetResult] [decimal](12, 2) NULL,
	[Remarks] [varchar](500) NULL,
	[CallByKey] [varchar](50) NULL,
	[IsPublic] [tinyint] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CommunicationModes]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CommunicationModes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CommunicationTemplates]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CommunicationTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[ModeKey] [varchar](100) NULL,
	[Template] [nvarchar](max) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerTypeKey] [varchar](100) NULL,
	[SegmentKey] [varchar](100) NULL,
	[TotalPurchases] [decimal](12, 2) NULL,
	[Remarks] [varchar](300) NULL,
	[LeadKey] [varchar](100) NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerServices]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerServices](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerKey] [varchar](100) NULL,
	[ServiceKey] [varchar](100) NULL,
	[PaymentModeKey] [varchar](100) NULL,
	[ActualCost] [decimal](12, 2) NULL,
	[AmountPaid] [decimal](12, 2) NULL,
	[AmountOutstanding] [decimal](12, 2) NULL,
	[Discount] [decimal](12, 2) NULL,
	[IsWon] [tinyint] NULL,
	[OrderId] [varchar](300) NULL,
	[Remarks] [varchar](500) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerTags]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[CustomerTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerKey] [nvarchar](100) NULL,
	[TagKey] [nvarchar](100) NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerTypes]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Enquiries]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Enquiries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Details] [varchar](1000) NULL,
	[IsLead] [tinyint] NULL,
	[ReferenceKey] [varchar](100) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
	[IsAdmin] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Expirys]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Expirys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Leads](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[FullName] [varchar](150) NULL,
	[Gender] [char](1) NULL,
	[MobileNumber] [varchar](100) NOT NULL,
	[EmailId] [varchar](100) NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[PriorityStatus] [varchar](20) NULL,
	[AssignedTo] [varchar](100) NULL,
	[ServiceKey] [varchar](100) NULL,
	[LeadTypeKey] [varchar](100) NULL,
	[LeadSourceKey] [varchar](100) NULL,
	[Remarks] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](100) NOT NULL,
	[IsSpam] [tinyint] NULL,
	[IsWon] [tinyint] NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[ModifiedBy] [varchar](100) NOT NULL,
	[City] [varchar](100) NULL,
	[PinCode] [varchar](15) NULL,
 CONSTRAINT [PK__Leads__3214EC07DF7B12F4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Leads_shadow]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Leads_shadow](
	[AuditId] [bigint] IDENTITY(1,1) NOT NULL,
	[Id] [bigint] NOT NULL,
	[FullName] [varchar](150) NULL,
	[MobileNumber] [varchar](100) NULL,
	[EmailId] [varchar](100) NULL,
	[ServiceKey] [varchar](100) NULL,
	[LeadTypeKey] [varchar](100) NULL,
	[LeadSourceKey] [varchar](100) NULL,
	[Remarks] [varchar](300) NULL,
	[IsStudent] [tinyint] NULL,
	[IsCustomer] [tinyint] NULL,
	[IsSpam] [tinyint] NULL,
	[IsWon] [tinyint] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
	[AssignedTo] [varchar](100) NULL,
	[AuditAction] [char](1) NOT NULL,
	[AuditDate] [datetime] NOT NULL,
	[AuditUser] [varchar](50) NOT NULL,
	[AuditApp] [varchar](128) NULL,
 CONSTRAINT [PK_Leads_shadow] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LeadSources]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LeadSources](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LeadTypes]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LeadTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](250) NULL,
	[Url] [varchar](250) NULL,
	[ParentId] [int] NULL,
	[SortOrder] [int] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
	[IsLHS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MobileUsers]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MobileUsers](
	[MobileUserId] [bigint] IDENTITY(1,1) NOT NULL,
	[LeadKey] [uniqueidentifier] NOT NULL,
	[OneTimePassword] [varchar](6) NULL,
	[IsOtpVerified] [bit] NOT NULL,
	[MobileToken] [varchar](200) NOT NULL,
	[DeviceType] [varchar](10) NOT NULL,
	[IMEI] [varchar](100) NULL,
	[StockNature] [varchar](50) NULL,
	[AgreeToTerms] [bit] NULL,
	[SameForWhatsApp] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[About] [varchar](200) NULL,
 CONSTRAINT [PK_MobileUsers] PRIMARY KEY CLUSTERED 
(
	[MobileUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PartnerAccounts]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PartnerAccounts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](150) NULL,
	[MobileNumber] [varchar](100) NULL,
	[EmailId] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[TelegramId] [varchar](500) NULL,
	[ZerodhaCId] [varchar](100) NULL,
	[AngelCId] [varchar](100) NULL,
	[AliceBlueCId] [varchar](100) NULL,
	[EdelweissCId] [varchar](100) NULL,
	[FyersCId] [varchar](100) NULL,
	[MotilalCId] [varchar](100) NULL,
	[Brokerage] [float] NULL,
	[LeadKey] [varchar](100) NULL,
	[CustomerKey] [varchar](100) NULL,
	[Remarks] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedIpAddress] [varchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK__PartnerA__3214EC0705BC839F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PartnerComments]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartnerId] [int] NOT NULL,
	[Comments] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_PartnerComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentModes]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentModes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PerformanceResults]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PerformanceResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pincodes]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pincodes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Pincode] [varchar](50) NULL,
	[Area] [varchar](150) NULL,
	[Division] [varchar](150) NULL,
	[District] [varchar](150) NULL,
	[State] [varchar](150) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoleMenus]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoleMenus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleKey] [varchar](100) NULL,
	[MenuKey] [varchar](100) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Segments]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Segments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiceCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Services]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NULL,
	[Description] [varchar](max) NULL,
	[ServiceCost] [decimal](12, 2) NULL,
	[ServiceTypeKey] [varchar](100) NULL,
	[ServiceCategoryKey] [varchar](100) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsRecurring] [tinyint] NULL,
	[RecurringTime] [int] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stocks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[LotSize] [int] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Strategies]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Strategies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[MobileNumber] [varchar](100) NULL,
	[PasswordHash] [varbinary](500) NULL,
	[PasswordSalt] [varbinary](300) NULL,
	[EmailId] [varchar](100) NULL,
	[DOJ] [varchar](100) NULL,
	[Address] [varchar](300) NULL,
	[RoleKey] [varchar](100) NULL,
	[Gender] [varchar](100) NULL,
	[UserImage] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[Users] ADD [Password] [varchar](100) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[Users] ADD [PasswordKey] [varchar](50) NULL
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[UserTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[xl_Partners]    Script Date: 2/28/2023 11:42:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xl_Partners](
	[Client Id] [float] NULL,
	[Branch Code New] [nvarchar](255) NULL,
	[Remeshire Group] [nvarchar](255) NULL,
	[Day of UCC Response Date] [nvarchar](255) NULL,
	[Day of First Trade Date] [nvarchar](255) NULL,
	[Day of Last trade date] [nvarchar](255) NULL,
	[Day of Derivative UCC Response Date] [nvarchar](255) NULL,
	[Day of Derivative first trade date] [nvarchar](255) NULL,
	[Day of Derivative Last trade date] [nvarchar](255) NULL,
	[Margin] [nvarchar](255) NULL,
	[dd] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[fnTableColumnInfo]    Script Date: 2/28/2023 11:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE       FUNCTION [dbo].[fnTableColumnInfo](@sTableName varchar(128))
RETURNS TABLE
AS
	RETURN
	SELECT	c.name AS sColumnName,
		c.colid AS nColumnID,
		dbo.fnIsColumnPrimaryKey(@sTableName, c.name) AS bPrimaryKeyColumn,
		CASE 	WHEN t.name IN ('char', 'varchar', 'binary', 'varbinary', 'nchar', 'nvarchar') THEN 1
			WHEN t.name IN ('decimal', 'numeric') THEN 2
			ELSE 0
		END AS nAlternateType,
		c.length AS nColumnLength,
		c.prec AS nColumnPrecision,
		c.scale AS nColumnScale, 
		c.IsNullable, 
		SIGN(c.status & 128) AS IsIdentity,
		t.name as sTypeName,
		dbo.fnColumnDefault(@sTableName, c.name) AS sDefaultValue
	FROM	syscolumns c 
		INNER JOIN systypes t ON c.xtype = t.xtype and c.usertype = t.usertype
	WHERE	c.id = OBJECT_ID(@sTableName)



GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ('Buy') FOR [TradeType]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ('Yes') FOR [IsIntraday]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ((1)) FOR [LotSize]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ('Open') FOR [CallStatus]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ((0)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [ActualCost]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [AmountPaid]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [AmountOutstanding]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[CustomerTags] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CustomerTags] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CustomerTags] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CustomerTags] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((1)) FOR [IsLead]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((1)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__PublicKey__07C12930]  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__AssignedT__0A9D95DB]  DEFAULT ('BB74D26F-AA28-EB11-BEE5-00155D53687A') FOR [AssignedTo]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__LeadTypeK__00200768]  DEFAULT ('4C98BD0B-6F08-EB11-BFA7-00155D53687A') FOR [LeadTypeKey]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__LeadSourc__01142BA1]  DEFAULT ('EB82ED26-6708-EB11-BFA7-00155D53687A') FOR [LeadSourceKey]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__IsDisable__05D8E0BE]  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__IsDelete__06CD04F7]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__CreatedOn__08B54D69]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__IsSpam__03F0984C]  DEFAULT ((0)) FOR [IsSpam]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__IsWon__04E4BC85]  DEFAULT ((0)) FOR [IsWon]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__ModifiedO__09A971A2]  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Leads_shadow] ADD  CONSTRAINT [DF_Leads_shadow_AuditDate]  DEFAULT (getdate()) FOR [AuditDate]
GO
ALTER TABLE [dbo].[Leads_shadow] ADD  CONSTRAINT [DF_Leads_shadow_AuditUser]  DEFAULT (suser_sname()) FOR [AuditUser]
GO
ALTER TABLE [dbo].[Leads_shadow] ADD  CONSTRAINT [DF_Leads_shadow_AuditApp]  DEFAULT (('App=('+rtrim(isnull(app_name(),'')))+') ') FOR [AuditApp]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((0)) FOR [ParentId]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((100)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[PartnerAccounts] ADD  CONSTRAINT [DF__PartnerAc__IsDis__1CBC4616]  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[PartnerAccounts] ADD  CONSTRAINT [DF__PartnerAc__IsDel__1DB06A4F]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[PartnerAccounts] ADD  CONSTRAINT [DF__PartnerAc__Publi__1EA48E88]  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[PartnerAccounts] ADD  CONSTRAINT [DF__PartnerAc__Creat__1F98B2C1]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PartnerAccounts] ADD  CONSTRAINT [DF__PartnerAc__Modif__208CD6FA]  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((1)) FOR [LotSize]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [Password]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [PasswordKey]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomers]    Script Date: 2/28/2023 11:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetCustomers] 
@SearchText varchar(100) 
as begin
	select * from Customers 
end
GO
/****** Object:  StoredProcedure [dbo].[GetDashboard]    Script Date: 2/28/2023 11:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDashboard]
AS BEGIN


	DECLARE @FreshPartners int, @PendingPartners int , @AcceptedPartners int, @RejectedPartners int 

	SELECT  @FreshPartners    = count(1) FROM PartnerAccounts WHERE Status = 0 -- Fresh 
	SELECT  @PendingPartners  = count(1) FROM PartnerAccounts WHERE Status = 1 -- Pending
	SELECT  @AcceptedPartners = count(1) FROM PartnerAccounts WHERE Status = 2 -- Accepted 
	SELECT  @RejectedPartners = count(1) FROM PartnerAccounts WHERE Status = 3 -- Rejected 
 

	select @FreshPartners as FreshPartners   , @PendingPartners as PendingPartners , @AcceptedPartners as AcceptedPartners ,
	@RejectedPartners as RejectedPartners 


END  
GO
/****** Object:  StoredProcedure [dbo].[GetPartnerAccounts]    Script Date: 2/28/2023 11:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[GetPartnerAccounts_Test] 0,100,1,null,null,'7041782559','',null, 0

CREATE PROCEDURE [dbo].[GetPartnerAccounts]
	@IsPaging bit = 0, 
	@PageSize int =100, 
	@PageNumber int = 1, 
	@FromDate date = null, 
	@ToDate date = null, 
	@SearchText varchar(200) = null,   
	@SortExpression varchar(100) = '', 
	@PartnerWith varchar(100) = null, 
	@StatusType  int  = null,
	@product_count INT OUTPUT

AS 
BEGIN 


SET @SearchText = case when @SearchText = '' then null else @SearchText  end; 
SET @PartnerWith = case when @PartnerWith = '' then null else @PartnerWith  end; 


	SELECT  @product_count = COUNT(0)
	FROM PartnerAccounts
	WHERE 
	[Status] = ( CASE WHEN ISNULL(@StatusType , -1) = -1 then [Status] else  @StatusType end )
 
	AND 
	
	(
		FullName LIKE '%' +    ISNULL(@SearchText, FullName) +'%' OR 
		ZerodhaCId LIKE '%'+   ISNULL(@SearchText, ZerodhaCId) +'%' OR 
		AngelCId like '%'+     ISNULL(@SearchText, AngelCId) +'%' OR 
		AliceBlueCId like '%'+ ISNULL(@SearchText, AliceBlueCId) +'%' OR 
		EdelweissCId like '%'+ ISNULL(@SearchText, EdelweissCId) +'%' OR 
		FyersCId like '%'+     ISNULL(@SearchText, FyersCId) +'%' OR 
		MobileNumber like '%'+ ISNULL(@SearchText, MobileNumber) +'%' OR 
		EmailId like '%'+      ISNULL(@SearchText, EmailId) +'%'
		)
	AND 
	 (
			ISNULL(@PartnerWith, '') = '' or 
		 (
			(lower(@PartnerWith) =  'zerodha' AND isnull(ZerodhaCId, '') != '' ) OR
			(lower(@PartnerWith) =  'alice' AND isnull(AliceBlueCId, '') != '' ) OR 
			(lower(@PartnerWith) =  'angel' AND isnull(AngelCId, '') != '' ) OR
			(lower(@PartnerWith) =  'edelweiss' AND isnull(EdelweissCId, '') != '' ) OR
			(lower(@PartnerWith) =  'fyers' AND isnull(FyersCId, '') != '')    OR  
			(lower(@PartnerWith) =  'motilal' AND isnull(MotilalCId, '') != '')     
		)
	)

	AND ISNULL(DATEADD(dd, 0, DATEDIFF(dd, 0, ModifiedOn)), isnull(@FromDate , DATEADD(dd, 0, DATEDIFF(dd, 0, DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())))) - 9999 ) ) 
	BETWEEN isnull(DATEADD(dd, 0, DATEDIFF(dd, 0, @FromDate )), DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())) - 9999 ) 
	AND ISNULL(DATEADD(dd, 0, DATEDIFF(dd, 0, @ToDate)),DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())))

	 
SELECT 
		Id,
		FullName, 
		MobileNumber, 
		EmailId, 
		(
		CASE WHEN  [Status] = 0 then 'Fresh'
			 WHEN  [Status] = 1 then 'Pending'
			 WHEN  [Status] = 2 then 'Accepted'
			 WHEN  [Status] = 3 then 'Rejected'
			 WHEN  [Status] = 4 then 'Followup'
		ELSE 'Fresh'
		END 
		) as StatusType,
		CAST(Status AS VARCHAR) AS Status , 
		(
			  IIF(ISNULL(ZerodhaCId,'') != '' , 'Zerodha: ', ' ') + ISNULL(UPPER(ZerodhaCId),' ') 
			+ IIF(ISNULL(AngelCId,'') != '' , ' | Angel: ', ' ') + isnull(UPPER(AngelCId),' ') 
			+ IIF(ISNULL(AliceBlueCId,'') != ''  , ' | AliceBlueCId: ' , ' ') + isnull(UPPER(AliceBlueCId),' ') 
			+ IIF(ISNULL(EdelweissCId,'') != '' , ' | EdelweissCid: ' , ' ') + ISNULL(UPPER(EdelweissCid),' ') 
			+ IIF(ISNULL(FyersCId,'') != '' , ' | FyersCId: ' , ' ') + isnull(UPPER(FyersCId),' ') 
			+ IIF(ISNULL(MotilalCId,'') != '' , ' | MotilalCId: ' , ' ') + isnull(UPPER(MotilalCId),' ') 
		) as PartnerWith , 
		'' as ClientId , 
		'' as  Details , 
		Remarks,  
		City, 
		CreatedOn, 
		ModifiedOn, 
		TelegramId, 
		ZerodhaCId, 
		AngelCId, 
		AliceBlueCId ,
		EdelweissCId,
		FyersCId,
		MotilalCId,
		isnull(Brokerage,0.0) as Brokerage
	FROM PartnerAccounts
	WHERE 
	[Status] = ( CASE WHEN ISNULL(@StatusType , -1) = -1 THEN [Status] ELSE  @StatusType END )
	AND 
	(
		FullName LIKE '%' +    ISNULL(@SearchText, FullName) +'%' OR 
		ZerodhaCId LIKE '%'+   ISNULL(@SearchText, ZerodhaCId) +'%' OR 
		AngelCId like '%'+     ISNULL(@SearchText, AngelCId) +'%' OR 
		AliceBlueCId like '%'+ ISNULL(@SearchText, AliceBlueCId) +'%' OR 
		EdelweissCId like '%'+ ISNULL(@SearchText, EdelweissCId) +'%' OR 
		FyersCId like '%'+     ISNULL(@SearchText, FyersCId) +'%' OR 
		MotilalCId like '%'+     ISNULL(@SearchText, MotilalCId) +'%' OR 
		MobileNumber like '%'+ ISNULL(@SearchText, MobileNumber) +'%' OR 
		EmailId like '%'+      ISNULL(@SearchText, EmailId) +'%'
		)
	AND 
	 (
			ISNULL(@PartnerWith, '') = '' or 
		 (
			(lower(@PartnerWith) =  'zerodha' AND isnull(ZerodhaCId, '') != '' ) OR
			(lower(@PartnerWith) =  'alice' AND isnull(AliceBlueCId, '') != '' ) OR 
			(lower(@PartnerWith) =  'angel' AND isnull(AngelCId, '') != '' ) OR
			(lower(@PartnerWith) =  'edelweiss' AND isnull(EdelweissCId, '') != '' ) OR
			(lower(@PartnerWith) =  'fyers' AND isnull(FyersCId, '') != '')      OR
			(lower(@PartnerWith) =  'motilal' AND isnull(MotilalCId, '') != '')     
		)
	)

	AND ISNULL(DATEADD(dd, 0, DATEDIFF(dd, 0, ModifiedOn)), isnull(@FromDate , DATEADD(dd, 0, DATEDIFF(dd, 0, DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())))) - 9999 ) ) 
	BETWEEN isnull(DATEADD(dd, 0, DATEDIFF(dd, 0, @FromDate )), DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())) - 9999 ) 
	AND ISNULL(DATEADD(dd, 0, DATEDIFF(dd, 0, @ToDate)),DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())))
	ORDER BY Id DESC
	OFFSET (IIF(@PageNumber <= 1 , 0 ,(@PageNumber-1))) * @PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY
END 



--DECLARE @PageNumber AS INT
--DECLARE @RowsOfPage AS INT
--        DECLARE @MaxTablePage  AS FLOAT 
--        SET @PageNumber=4
--        SET @RowsOfPage=10
--SELECT 
--		Id,
--		FullName, 
--		MobileNumber, 
--		EmailId, 
--		ModifiedOn, 
--		City, 
--		'' as PartnerWith , 
--		'' as ClientId , 
--		'' as  Details , 
--		Remarks,  
--	 CAST(	Status AS VARCHAR) AS Status , 
--		TelegramId, 
--		ZerodhaCId, 
--		AngelCId, 
--		AliceBlueCId 
--	FROM PartnerAccounts
--	order by Id desc
----	--OFFSET 5 ROWS FETCH NEXT 6 ROWS ONLY
--	OFFSET (@PageNumber-1)*@RowsOfPage ROWS
--	FETCH NEXT @RowsOfPage ROWS ONLY

 



--USE [KingResearch]
--GO

--DECLARE	@return_value int,
--		@product_count int

--EXEC	@return_value = [dbo].[GetPartnerAccounts_Test]
--		@IsPaging = 1,
--		@PageSize = 10,
--		@PageNumber = 1,
--		@FromDate = '2022-07-24',
--		@ToDate = '2022-08-31',
--		@SearchText = '',
--		@SortExpression = '',
--		@PartnerWith = '',
--		@StatusType = -1,
--		@product_count = @product_count OUTPUT

--SELECT	@product_count as N'@product_count'

--SELECT	'Return Value' = @return_value

--GO




GO
/****** Object:  StoredProcedure [dbo].[GetPartnerAccounts_Test]    Script Date: 2/28/2023 11:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[GetPartnerAccounts_Test] 0,100,1,null,null,'7041782559','',null, 0

CREATE PROCEDURE [dbo].[GetPartnerAccounts_Test]
	@IsPaging bit = 0, 
	@PageSize int =100, 
	@PageNumber int = 1, 
	@FromDate date = null, 
	@ToDate date = null, 
	@SearchText varchar(200) = null,   
	@SortExpression varchar(100) = '', 
	@PartnerWith varchar(100) = null, 
	@StatusType  int  = null,
	@product_count INT OUTPUT

AS 
BEGIN 


SET @SearchText = case when @SearchText = '' then null else @SearchText  end; 
SET @PartnerWith = case when @PartnerWith = '' then null else @PartnerWith  end; 


	SELECT  @product_count = COUNT(0)
	FROM PartnerAccounts
	WHERE 
	[Status] = ( CASE WHEN ISNULL(@StatusType , -1) = -1 then [Status] else  @StatusType end )
 
	AND 
	
	(
		FullName LIKE '%' +    ISNULL(@SearchText, FullName) +'%' OR 
		ZerodhaCId LIKE '%'+   ISNULL(@SearchText, ZerodhaCId) +'%' OR 
		AngelCId like '%'+     ISNULL(@SearchText, AngelCId) +'%' OR 
		AliceBlueCId like '%'+ ISNULL(@SearchText, AliceBlueCId) +'%' OR 
		EdelweissCId like '%'+ ISNULL(@SearchText, EdelweissCId) +'%' OR 
		FyersCId like '%'+     ISNULL(@SearchText, FyersCId) +'%' OR 
		MobileNumber like '%'+ ISNULL(@SearchText, MobileNumber) +'%' OR 
		EmailId like '%'+      ISNULL(@SearchText, EmailId) +'%'
		)
	AND 
	 (
			ISNULL(@PartnerWith, '') = '' or 
		 (
			(lower(@PartnerWith) =  'zerodha' AND isnull(ZerodhaCId, '') != '' ) OR
			(lower(@PartnerWith) =  'alice' AND isnull(AliceBlueCId, '') != '' ) OR 
			(lower(@PartnerWith) =  'angel' AND isnull(AngelCId, '') != '' ) OR
			(lower(@PartnerWith) =  'edelweiss' AND isnull(EdelweissCId, '') != '' ) OR
			(lower(@PartnerWith) =  'fyers' AND isnull(FyersCId, '') != '')     
		)
	)

	AND ISNULL(DATEADD(dd, 0, DATEDIFF(dd, 0, ModifiedOn)), isnull(@FromDate , DATEADD(dd, 0, DATEDIFF(dd, 0, DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())))) - 9999 ) ) 
	BETWEEN isnull(DATEADD(dd, 0, DATEDIFF(dd, 0, @FromDate )), DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())) - 9999 ) 
	AND ISNULL(DATEADD(dd, 0, DATEDIFF(dd, 0, @ToDate)),DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())))

	 
SELECT 
		Id,
		FullName, 
		MobileNumber, 
		EmailId, 
		(
		CASE WHEN  [Status] = 0 then 'Fresh'
			 WHEN  [Status] = 1 then 'Pending'
			 WHEN  [Status] = 2 then 'Accepted'
			 WHEN  [Status] = 3 then 'Rejected'
			 WHEN  [Status] = 4 then 'Followup'
		ELSE 'Fresh'
		END 
		) as StatusType,
		CAST(Status AS VARCHAR) AS Status , 
		(
			  IIF(ISNULL(ZerodhaCId,'') != '' , 'Zerodha: ', ' ') + ISNULL(UPPER(ZerodhaCId),' ') 
			+ IIF(ISNULL(AngelCId,'') != '' , ' | Angel: ', ' ') + isnull(UPPER(AngelCId),' ') 
			+ IIF(ISNULL(AliceBlueCId,'') != ''  , ' | AliceBlueCId: ' , ' ') + isnull(UPPER(AliceBlueCId),' ') 
			+ IIF(ISNULL(EdelweissCId,'') != '' , ' | EdelweissCid: ' , ' ') + ISNULL(UPPER(EdelweissCid),' ') 
			+ IIF(ISNULL(FyersCId,'') != '' , ' | FyersCId: ' , ' ') + isnull(UPPER(FyersCId),' ') 
		) as PartnerWith , 
		'' as ClientId , 
		'' as  Details , 
		Remarks,  
		City, 
		CreatedOn, 
		ModifiedOn, 
		TelegramId, 
		ZerodhaCId, 
		AngelCId, 
		AliceBlueCId ,
		EdelweissCId,
		FyersCId,
		'' as BrokerageAmount
	FROM PartnerAccounts
	WHERE 
	[Status] = ( CASE WHEN ISNULL(@StatusType , -1) = -1 THEN [Status] ELSE  @StatusType END )
	AND 
	(
		FullName LIKE '%' +    ISNULL(@SearchText, FullName) +'%' OR 
		ZerodhaCId LIKE '%'+   ISNULL(@SearchText, ZerodhaCId) +'%' OR 
		AngelCId like '%'+     ISNULL(@SearchText, AngelCId) +'%' OR 
		AliceBlueCId like '%'+ ISNULL(@SearchText, AliceBlueCId) +'%' OR 
		EdelweissCId like '%'+ ISNULL(@SearchText, EdelweissCId) +'%' OR 
		FyersCId like '%'+     ISNULL(@SearchText, FyersCId) +'%' OR 
		MobileNumber like '%'+ ISNULL(@SearchText, MobileNumber) +'%' OR 
		EmailId like '%'+      ISNULL(@SearchText, EmailId) +'%'
		)
	AND 
	 (
			ISNULL(@PartnerWith, '') = '' or 
		 (
			(lower(@PartnerWith) =  'zerodha' AND isnull(ZerodhaCId, '') != '' ) OR
			(lower(@PartnerWith) =  'alice' AND isnull(AliceBlueCId, '') != '' ) OR 
			(lower(@PartnerWith) =  'angel' AND isnull(AngelCId, '') != '' ) OR
			(lower(@PartnerWith) =  'edelweiss' AND isnull(EdelweissCId, '') != '' ) OR
			(lower(@PartnerWith) =  'fyers' AND isnull(FyersCId, '') != '')     
		)
	)

	AND ISNULL(DATEADD(dd, 0, DATEDIFF(dd, 0, ModifiedOn)), isnull(@FromDate , DATEADD(dd, 0, DATEDIFF(dd, 0, DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())))) - 9999 ) ) 
	BETWEEN isnull(DATEADD(dd, 0, DATEDIFF(dd, 0, @FromDate )), DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())) - 9999 ) 
	AND ISNULL(DATEADD(dd, 0, DATEDIFF(dd, 0, @ToDate)),DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())))
	ORDER BY Id DESC
	OFFSET (IIF(@PageNumber <= 1 , 0 ,(@PageNumber-1))) * @PageSize ROWS
	FETCH NEXT @PageSize ROWS ONLY
END 



--DECLARE @PageNumber AS INT
--DECLARE @RowsOfPage AS INT
--        DECLARE @MaxTablePage  AS FLOAT 
--        SET @PageNumber=4
--        SET @RowsOfPage=10
--SELECT 
--		Id,
--		FullName, 
--		MobileNumber, 
--		EmailId, 
--		ModifiedOn, 
--		City, 
--		'' as PartnerWith , 
--		'' as ClientId , 
--		'' as  Details , 
--		Remarks,  
--	 CAST(	Status AS VARCHAR) AS Status , 
--		TelegramId, 
--		ZerodhaCId, 
--		AngelCId, 
--		AliceBlueCId 
--	FROM PartnerAccounts
--	order by Id desc
----	--OFFSET 5 ROWS FETCH NEXT 6 ROWS ONLY
--	OFFSET (@PageNumber-1)*@RowsOfPage ROWS
--	FETCH NEXT @RowsOfPage ROWS ONLY

 




GO
/****** Object:  StoredProcedure [dbo].[ManagePartnerAccounts]    Script Date: 2/28/2023 11:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ManagePartnerAccounts]
	@PartnerAccountID  int = 0, 
	@FullName varchar(100)
	,@MobileNumber varchar(15) = null,@EmailId varchar(100)= null,@City varchar(100)= null,@TelegramId varchar(500)= null
	,@ZerodhaCId varchar(100)= null,@AngelCId varchar(100)= null,@AliceBlueCId varchar(100)= null,@EdelweissCId varchar(100)= null
	,@FyersCId varchar(100)= null 
	,@MotilalCId varchar(100) = null
	,@Comments varchar(300) = null
	,@CreatedBy varchar(50)= null
	,@CreatedIpAddress varchar(100)= null, @Status int  = 1 ,@Brokerage float
AS 
BEGIN
	 
	BEGIN TRY 
		
		IF EXISTS (select 1 from PartnerAccounts where MobileNumber = @MobileNumber)
		BEGIN
			print 1 
			select  @PartnerAccountID = Id from PartnerAccounts where MobileNumber = @MobileNumber
		end 
		IF(ISNULL(@PartnerAccountID,0) != 0  )
		BEGIN
	
			UPDATE PartnerAccounts 
			SET ModifiedBy = @CreatedBy, 
				ModifiedOn = GetDate(),
				ZerodhaCId = ISNULL(@ZerodhaCId ,ZerodhaCId) ,
				AliceBlueCId = ISNULL(@AliceBlueCId , AliceBlueCId) ,
				AngelCId = ISNULL(@AngelCId , AngelCId) ,
				FyersCId = ISNULL(@FyersCId , FyersCId) ,
				EdelweissCId = ISNULL(@EdelweissCId , EdelweissCId),
				MotilalCId = ISNULL(@MotilalCId , MotilalCId),
				[Status] = @Status 	,
				Brokerage = @Brokerage	 
			WHERE Id = @PartnerAccountID 
			
			IF (ISNULL(@Comments,'') != '')
			Begin
			
				INSERT INTO PartnerComments (PartnerID, Comments, CreatedOn , CreatedBy) 
				VALUES      (@PartnerAccountID, @Comments , GetDate(), @CreatedBy)
			END
		END ELSE 
		BEGIN 
			INSERT INTO PartnerAccounts (
			 FullName,MobileNumber,EmailId,City,TelegramId,ZerodhaCId,AngelCId,AliceBlueCId,EdelweissCId
			,FyersCId, MotilalCId ,Remarks, CreatedIpAddress,CreatedOn
			,CreatedBy,ModifiedOn,ModifiedBy,Status , Brokerage
			) values 
			(
				 @FullName, @MobileNumber, @EmailId, @City, @TelegramId, @ZerodhaCId, @AngelCId, @AliceBlueCId, @EdelweissCId
				,@FyersCId, @MotilalCId , @Comments, @CreatedIpAddress, GETDATE()
				,@CreatedBy,GETDATE(), @CreatedBy, 1 , isnull(@Brokerage ,0.0)
			)
			
			SET @PartnerAccountID = SCOPE_IDENTITY()
			
			IF (ISNULL(@Comments,'') != '')
			Begin
				INSERT INTO PartnerComments (PartnerID, Comments, CreatedOn , CreatedBy) 
				VALUES      (@PartnerAccountID, @Comments , GetDate(), @CreatedBy)
			END
			
		END
		SELECT 1 as Result
	END TRY 
	BEGIN CATCH 
		SELECT -1 as Result
	END CATCH 
END


GO
/****** Object:  StoredProcedure [dbo].[Sp_Get_Leads]    Script Date: 2/28/2023 11:42:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [Sp_Get_Leads] 0 , 25 , 3 , '', '', '' ,'' ,0, '','','','','','','','','',''

CREATE PROCEDURE [dbo].[Sp_Get_Leads]
(
	@IsPaging int =0,
	@PageSize int =0,
	@PageNumber int =30,
	@SortOrder varchar(50) ='DESC',
	@SortExpression varchar(50) ='Date',	
	@FromDate varchar(50) ='0',
	@ToDate varchar(50) ='0',		
	@Id INT =0,
	@PrimaryKey varchar(50) ='0',
	@SecondaryKey varchar(50) ='0',
	@ThirdKey varchar(50) ='0',
	@FourthKey varchar(50) ='0',
	@FifthKey varchar(50) ='0',
	@CreatedBy varchar(50) ='0',
	@AssignedTo varchar(50) ='0',
	@LoggedInUser varchar(50) ='0',
	@RoleKey varchar(50) ='0',
	@SearchText varchar(250) =''
)
AS
BEGIN	

If @Id is null set @Id = 0
If @SortOrder is null set @SortOrder = 'DESC'
If @SortExpression is null set @SortExpression = 'Id'
If @PrimaryKey is null set @PrimaryKey = '0'
If @SecondaryKey is null set @SecondaryKey = '0'
If @ThirdKey is null set @ThirdKey = '0'
If @FourthKey is null set @FourthKey = '0'
If @FifthKey is null set @FifthKey = '0'
If @CreatedBy is null set @CreatedBy = '0'
If @CreatedBy = '' set @CreatedBy = '0'
If @AssignedTo = '' set @AssignedTo = '0'
If @AssignedTo is null set @AssignedTo = '0'
If @SearchText is null set @SearchText = ''
If @FromDate is null set @FromDate = '2000-01-01'
If @ToDate is null set @ToDate = '2100-01-01'
If @FromDate = '' set @FromDate = '2000-01-01'
If @ToDate = '' set @ToDate = '2100-01-01'
If @PageSize = 0 set @PageSize = 30
If @PageNumber = 0 set @PageNumber = 1

	print '@PrimaryKey' + @PrimaryKey
			print @SecondaryKey
			print @ThirdKey
			print @FourthKey
			print '@@CreatedBy' + @CreatedBy
			print @AssignedTo
			print @SearchText
			print @FromDate
			print @ToDate
		

Update Leads set AssignedTo = CreatedBy where (AssignedTo is null)
declare @RoleId int =0
Select @RoleId = Id from Roles where CONVERT(VARCHAR(100), PublicKey) = @RoleKey


	declare @StartIndex int =0
	declare @EndIndex int =0
	
	set @StartIndex = (@PageNumber-1) * @PageSize 
	set @EndIndex = @StartIndex + @PageSize 

	DECLARE @vTotalRecordCount INT  
	DECLARE @vSortExpression varchar (100)
	SET @vSortExpression = @SortExpression + ' ' + @SortOrder
	
	print @StartIndex
	print @EndIndex

	print ' Role Id  '
	print @RoleId


	SELECT @vTotalRecordCount   = COUNT(1) FROM Leads 


	SELECT  
		 @vTotalRecordCount    as TotalRecordCount,
	a.[Id],a.[FullName],a.[MobileNumber],a.[EmailId],b.Name as  [ServiceKey], c.Name as [LeadTypeKey],d.Name as [LeadSourceKey],a.[Remarks]
	,a.[IsSpam],a.[IsWon],a.[IsDisabled],a.[IsDelete],a.[PublicKey],a.[CreatedOn], cu.FirstName as  [CreatedBy],a.[ModifiedOn],a.[ModifiedBy], '' as [AssignedTo] 
	FROM Leads a 
	INNER JOIN Services b ON A.ServiceKey = B.PublicKey 
	INNER JOIN LeadTypes c ON A.LeadTypeKey = C.PublicKey
	INNER JOIN LeadSources d ON a.LeadSourceKey = d.publicKey
	INNER JOIN Users cu on a.CreatedBy = cu.PublicKey  



	
--if (@RoleId = 1)
--	Begin 


--SELECT @vTotalRecordCount=COUNT(ID)FROM Leads a  where (
--	 (@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
--	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
--	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
--	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
--	AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
--	AND (@AssignedTo ='0' or @AssignedTo=a.[AssignedTo])
--	AND	((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
--	AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
--	AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 
--			)
			
--	print @vTotalRecordCount
	
--		SELECT *,@vTotalRecordCount as TotalRecordCount
--		FROM (SELECT ROW_NUMBER() OVER (ORDER BY
--			CASE WHEN @vSortExpression='Date DESC' THEN a.[Id] END DESC,
--			CASE WHEN @vSortExpression='Date ASC' THEN a.[Id] END ASC,
--			CASE WHEN @vSortExpression='Name DESC' THEN a.[FullName] END DESC,
--			CASE WHEN @vSortExpression='Name ASC' THEN a.[FullName] END ASC,
--			CASE WHEN @vSortExpression='LeadType DESC' THEN c.Name END DESC,
--			CASE WHEN @vSortExpression='LeadType ASC' THEN c.Name END ASC
--			) AS 
--			ROW_ID,a.[Id],a.[FullName],a.[MobileNumber],a.[EmailId],b.Name as  [ServiceKey], c.Name as [LeadTypeKey],d.Name as [LeadSourceKey],
--			a.[Remarks],a.[IsSpam],a.[IsWon],
--			a.[IsDisabled],a.[IsDelete],a.[PublicKey],a.[CreatedOn], cu.FirstName as  [CreatedBy],a.[ModifiedOn],a.[ModifiedBy],au.FirstName as [AssignedTo] 
--	FROM Leads a , Services b, LeadTypes c, LeadSources d, Users cu, Users au
--		WHERE (
--		 (a.[ServiceKey] = CONVERT(VARCHAR(100), b.PublicKey))
--	AND  (a.[LeadTypeKey] = CONVERT(VARCHAR(100), c.PublicKey))
--	AND  (a.[LeadSourceKey] = CONVERT(VARCHAR(100), d.PublicKey))
--	AND  (a.[CreatedBy] = CONVERT(VARCHAR(100), cu.PublicKey))
--	AND  (a.[AssignedTo] = CONVERT(VARCHAR(100), au.PublicKey))
--	AND(@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
--	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
--	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
--	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
--	AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
--	AND (@AssignedTo ='0' or @AssignedTo=a.[AssignedTo])
--	AND ((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
--AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
--AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 
--			)
--			) ld     
--		WHERE 
--			ROW_ID BETWEEN @StartIndex AND @EndIndex
			
				
	
	
--	End
--	ELSE 
--	BEGIN
	
--	set @AssignedTo = @LoggedInUser	
--	----SELECT a.[Id],a.[FullName],a.[MobileNumber],a.[EmailId],b.Name as  [ServiceKey], c.Name as [LeadTypeKey],d.Name as [LeadSourceKey],a.[Remarks],a.[IsStudent],a.[IsCustomer],a.[IsSpam],a.[IsWon],a.[IsDisabled],a.[IsDelete],a.[PublicKey],a.[CreatedOn], cu.FirstName as  [CreatedBy],a.[ModifiedOn],a.[ModifiedBy],au.FirstName as [AssignedTo] 
--	----FROM Leads a , Services b, LeadTypes c, LeadSources d, Users cu, Users au
--	----WHERE (
--	---- (a.[ServiceKey] = CONVERT(VARCHAR(100), b.PublicKey))
--	----AND  (a.[LeadTypeKey] = CONVERT(VARCHAR(100), c.PublicKey))
--	----AND  (a.[LeadSourceKey] = CONVERT(VARCHAR(100), d.PublicKey))
--	----AND  (a.[CreatedBy] = CONVERT(VARCHAR(100), cu.PublicKey))
--	----AND  (a.[AssignedTo] = CONVERT(VARCHAR(100), au.PublicKey))
--	----AND  (@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
--	----AND  (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
--	----AND  (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
--	----AND  (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
--	----AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
--	----AND (@AssignedTo ='0' or @LoggedInUser=a.[AssignedTo])
--	----AND ((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
-- ---- AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
-- ---- AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 	
--	----)   
	
	
--	SELECT @vTotalRecordCount=COUNT(ID)FROM Leads a  where (
--	 (@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
--	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
--	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
--	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
--	--AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
--	AND (@AssignedTo ='0' or @LoggedInUser=a.[AssignedTo])
--	AND	((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
--	AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
--	AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 
--			)
			
--			print @vTotalRecordCount
	
--		SELECT *,@vTotalRecordCount as TotalRecordCount
--		FROM (SELECT ROW_NUMBER() OVER (ORDER BY
--			CASE WHEN @vSortExpression='Date DESC' THEN a.[Id] END DESC,
--			CASE WHEN @vSortExpression='Date ASC' THEN a.[Id] END ASC,
--			CASE WHEN @vSortExpression='Name DESC' THEN a.[FullName] END DESC,
--			CASE WHEN @vSortExpression='Name ASC' THEN a.[FullName] END ASC,
--			CASE WHEN @vSortExpression='LeadType DESC' THEN c.Name END DESC,
--			CASE WHEN @vSortExpression='LeadType ASC' THEN c.Name END ASC
--			) AS 
--			ROW_ID,a.[Id],a.[FullName],a.[MobileNumber],a.[EmailId],b.Name as  [ServiceKey], c.Name as [LeadTypeKey],d.Name as [LeadSourceKey],a.[Remarks]
--			,a.[IsSpam],a.[IsWon],a.[IsDisabled],a.[IsDelete],a.[PublicKey],a.[CreatedOn], cu.FirstName as  [CreatedBy],a.[ModifiedOn],a.[ModifiedBy],au.FirstName as [AssignedTo] 
--	FROM Leads a , Services b, LeadTypes c, LeadSources d, Users cu, Users au
--		WHERE (
--		 (a.[ServiceKey] = CONVERT(VARCHAR(100), b.PublicKey))
--	AND  (a.[LeadTypeKey] = CONVERT(VARCHAR(100), c.PublicKey))
--	AND  (a.[LeadSourceKey] = CONVERT(VARCHAR(100), d.PublicKey))
--	AND  (a.[CreatedBy] = CONVERT(VARCHAR(100), cu.PublicKey))
--	AND  (a.[AssignedTo] = CONVERT(VARCHAR(100), au.PublicKey))
--	AND(@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
--	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
--	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
--	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
--	--AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
--	AND (@AssignedTo ='0' or @LoggedInUser=a.[AssignedTo])
--	AND ((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
--AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
--AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 
--			)
--			) ld     
--		WHERE 
--			ROW_ID BETWEEN @StartIndex AND @EndIndex
	
	
--	End
	

	
END


GO
