USE [KingResearch]
GO
ALTER TABLE [dbo].[Leads_shadow] DROP CONSTRAINT [DF_Leads_shadow_AuditApp]
GO
ALTER TABLE [dbo].[Leads_shadow] DROP CONSTRAINT [DF_Leads_shadow_AuditUser]
GO
ALTER TABLE [dbo].[Leads_shadow] DROP CONSTRAINT [DF_Leads_shadow_AuditDate]
GO
/****** Object:  Table [dbo].[Leads_shadow]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Leads_shadow]
GO
/****** Object:  Table [dbo].[Leads_shadow]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Leads_shadow](
	[AuditId] [bigint] IDENTITY(1,1) NOT NULL,
	[Id] [bigint] NOT NULL,
	[FullName] [varchar](150) NULL,
	[MobileNumber] [varchar](100) NULL,
	[EmailId] [varchar](100) NULL,
	[ServiceKey] [varchar](100) NULL,
	[LeadTypeKey] [varchar](100) NULL,
	[LeadSourceKey] [varchar](100) NULL,
	[Remarks] [varchar](300) NULL,
	[IsStudent] [tinyint] NULL,
	[IsCustomer] [tinyint] NULL,
	[IsSpam] [tinyint] NULL,
	[IsWon] [tinyint] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
	[AssignedTo] [varchar](100) NULL,
	[AuditAction] [char](1) NOT NULL,
	[AuditDate] [datetime] NOT NULL,
	[AuditUser] [varchar](50) NOT NULL,
	[AuditApp] [varchar](128) NULL,
 CONSTRAINT [PK_Leads_shadow] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Leads_shadow] ADD  CONSTRAINT [DF_Leads_shadow_AuditDate]  DEFAULT (getdate()) FOR [AuditDate]
GO
ALTER TABLE [dbo].[Leads_shadow] ADD  CONSTRAINT [DF_Leads_shadow_AuditUser]  DEFAULT (suser_sname()) FOR [AuditUser]
GO
ALTER TABLE [dbo].[Leads_shadow] ADD  CONSTRAINT [DF_Leads_shadow_AuditApp]  DEFAULT (('App=('+rtrim(isnull(app_name(),'')))+') ') FOR [AuditApp]
GO
