USE [KingResearch]
GO
ALTER TABLE [dbo].[Pincodes] DROP CONSTRAINT [DF__Pincodes__Modifi__2EDAF651]
GO
ALTER TABLE [dbo].[Pincodes] DROP CONSTRAINT [DF__Pincodes__Create__2DE6D218]
GO
ALTER TABLE [dbo].[Pincodes] DROP CONSTRAINT [DF__Pincodes__Public__2CF2ADDF]
GO
ALTER TABLE [dbo].[Pincodes] DROP CONSTRAINT [DF__Pincodes__IsDele__2BFE89A6]
GO
ALTER TABLE [dbo].[Pincodes] DROP CONSTRAINT [DF__Pincodes__IsDisa__2B0A656D]
GO
/****** Object:  Table [dbo].[Pincodes]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Pincodes]
GO
/****** Object:  Table [dbo].[Pincodes]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pincodes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Pincode] [varchar](50) NULL,
	[Area] [varchar](150) NULL,
	[Division] [varchar](150) NULL,
	[District] [varchar](150) NULL,
	[State] [varchar](150) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
