USE [KingResearch]
GO
ALTER TABLE [dbo].[ServiceTypes] DROP CONSTRAINT [DF__ServiceTy__Modif__4B7734FF]
GO
ALTER TABLE [dbo].[ServiceTypes] DROP CONSTRAINT [DF__ServiceTy__Creat__4A8310C6]
GO
ALTER TABLE [dbo].[ServiceTypes] DROP CONSTRAINT [DF__ServiceTy__Publi__498EEC8D]
GO
ALTER TABLE [dbo].[ServiceTypes] DROP CONSTRAINT [DF__ServiceTy__IsDel__489AC854]
GO
ALTER TABLE [dbo].[ServiceTypes] DROP CONSTRAINT [DF__ServiceTy__IsDis__47A6A41B]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[ServiceTypes]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsRecurring] [tinyint] NULL,
	[RecurringTime] [int] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
