USE [KingResearch]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Modif__6B24EA82]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Creat__6A30C649]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Creat__693CA210]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Publi__68487DD7]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__IsDel__6754599E]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__IsDis__66603565]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Disco__656C112C]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Amoun__6477ECF3]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Amoun__6383C8BA]
GO
ALTER TABLE [dbo].[CustomerServices] DROP CONSTRAINT [DF__CustomerS__Actua__628FA481]
GO
/****** Object:  Table [dbo].[CustomerServices]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[CustomerServices]
GO
/****** Object:  Table [dbo].[CustomerServices]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerServices](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerKey] [varchar](100) NULL,
	[ServiceKey] [varchar](100) NULL,
	[PaymentModeKey] [varchar](100) NULL,
	[ActualCost] [decimal](12, 2) NULL,
	[AmountPaid] [decimal](12, 2) NULL,
	[AmountOutstanding] [decimal](12, 2) NULL,
	[Discount] [decimal](12, 2) NULL,
	[IsWon] [tinyint] NULL,
	[OrderId] [varchar](300) NULL,
	[Remarks] [varchar](500) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [ActualCost]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [AmountPaid]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [AmountOutstanding]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
