USE [KingResearch]
GO
/****** Object:  Table [dbo].[MobileUsers]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[MobileUsers]
GO
/****** Object:  Table [dbo].[MobileUsers]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MobileUsers](
	[MobileUserId] [bigint] IDENTITY(1,1) NOT NULL,
	[LeadKey] [uniqueidentifier] NOT NULL,
	[OneTimePassword] [varchar](6) NULL,
	[IsOtpVerified] [bit] NOT NULL,
	[MobileToken] [varchar](200) NOT NULL,
	[DeviceType] [varchar](10) NOT NULL,
	[IMEI] [varchar](100) NULL,
	[StockNature] [varchar](50) NULL,
	[AgreeToTerms] [bit] NULL,
	[SameForWhatsApp] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[About] [varchar](200) NULL,
 CONSTRAINT [PK_MobileUsers] PRIMARY KEY CLUSTERED 
(
	[MobileUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
