USE [KingResearch]
GO
ALTER TABLE [dbo].[CustomerTypes] DROP CONSTRAINT [DF__CustomerT__Modif__73BA3083]
GO
ALTER TABLE [dbo].[CustomerTypes] DROP CONSTRAINT [DF__CustomerT__Creat__72C60C4A]
GO
ALTER TABLE [dbo].[CustomerTypes] DROP CONSTRAINT [DF__CustomerT__Publi__71D1E811]
GO
ALTER TABLE [dbo].[CustomerTypes] DROP CONSTRAINT [DF__CustomerT__IsDel__70DDC3D8]
GO
ALTER TABLE [dbo].[CustomerTypes] DROP CONSTRAINT [DF__CustomerT__IsDis__6FE99F9F]
GO
/****** Object:  Table [dbo].[CustomerTypes]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[CustomerTypes]
GO
/****** Object:  Table [dbo].[CustomerTypes]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
