USE [KingResearch]
GO
ALTER TABLE [dbo].[LeadSources] DROP CONSTRAINT [DF__LeadSourc__Modif__10566F31]
GO
ALTER TABLE [dbo].[LeadSources] DROP CONSTRAINT [DF__LeadSourc__Creat__0F624AF8]
GO
ALTER TABLE [dbo].[LeadSources] DROP CONSTRAINT [DF__LeadSourc__Publi__0E6E26BF]
GO
ALTER TABLE [dbo].[LeadSources] DROP CONSTRAINT [DF__LeadSourc__IsDel__0D7A0286]
GO
ALTER TABLE [dbo].[LeadSources] DROP CONSTRAINT [DF__LeadSourc__IsDis__0C85DE4D]
GO
/****** Object:  Table [dbo].[LeadSources]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[LeadSources]
GO
/****** Object:  Table [dbo].[LeadSources]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LeadSources](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
