USE [KingResearch]
GO
ALTER TABLE [dbo].[Strategies] DROP CONSTRAINT [DF__Strategie__Modif__55F4C372]
GO
ALTER TABLE [dbo].[Strategies] DROP CONSTRAINT [DF__Strategie__Creat__55009F39]
GO
ALTER TABLE [dbo].[Strategies] DROP CONSTRAINT [DF__Strategie__Publi__540C7B00]
GO
ALTER TABLE [dbo].[Strategies] DROP CONSTRAINT [DF__Strategie__IsDel__531856C7]
GO
ALTER TABLE [dbo].[Strategies] DROP CONSTRAINT [DF__Strategie__IsDis__5224328E]
GO
/****** Object:  Table [dbo].[Strategies]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Strategies]
GO
/****** Object:  Table [dbo].[Strategies]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Strategies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Strategies] ON 

INSERT [dbo].[Strategies] ([Id], [Name], [Description], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'Bonanza', N'Bonza Is a annual Service ', 0, 0, N'd49a9324-d342-ed11-80f2-00155d23d79c', CAST(N'2022-10-03 09:53:34.770' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Strategies] ([Id], [Name], [Description], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, N'Option HNI Service', N'Option HNI Service ', 0, 0, N'39d29430-d342-ed11-80f2-00155d23d79c', CAST(N'2022-10-03 09:53:54.893' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Strategies] ([Id], [Name], [Description], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'Cash Service', N'Monthly Cash Service ', 0, 0, N'6687a538-d342-ed11-80f2-00155d23d79c', CAST(N'2022-10-03 09:54:08.423' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Strategies] OFF
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
