USE [KingResearch]
GO
ALTER TABLE [dbo].[PerformanceResults] DROP CONSTRAINT [DF__Performan__Modif__2A164134]
GO
ALTER TABLE [dbo].[PerformanceResults] DROP CONSTRAINT [DF__Performan__Creat__29221CFB]
GO
ALTER TABLE [dbo].[PerformanceResults] DROP CONSTRAINT [DF__Performan__Publi__282DF8C2]
GO
ALTER TABLE [dbo].[PerformanceResults] DROP CONSTRAINT [DF__Performan__IsDel__2739D489]
GO
ALTER TABLE [dbo].[PerformanceResults] DROP CONSTRAINT [DF__Performan__IsDis__2645B050]
GO
/****** Object:  Table [dbo].[PerformanceResults]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[PerformanceResults]
GO
/****** Object:  Table [dbo].[PerformanceResults]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PerformanceResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
