USE [KingResearch]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__ModifiedO__3864608B]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__CreatedOn__37703C52]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__PublicKey__367C1819]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__IsDelete__3587F3E0]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__IsDisable__3493CFA7]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'Admin', N'KR Administrator', 0, 0, N'd4ce182f-8ffb-4ec4-8dc5-d3b760f9231b', CAST(N'2020-09-04 22:15:31.680' AS DateTime), N'1', NULL, NULL)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, N'Staff', N'KR Staff ', 0, 0, N'84f4fa8b-db6a-4d1e-917d-5862b376ccd3', CAST(N'2020-09-04 22:15:43.773' AS DateTime), N'1', NULL, NULL)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'Mentor', N'KR Mentor', 0, 0, N'41554fe3-2553-4a68-ab93-3a99702a6182', CAST(N'2020-09-04 22:15:49.720' AS DateTime), N'1', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
