USE [KingResearch]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [DF__Services__Modifi__46B27FE2]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [DF__Services__Create__45BE5BA9]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [DF__Services__Public__44CA3770]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [DF__Services__IsDele__43D61337]
GO
ALTER TABLE [dbo].[Services] DROP CONSTRAINT [DF__Services__IsDisa__42E1EEFE]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Services]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NULL,
	[Description] [varchar](max) NULL,
	[ServiceCost] [decimal](12, 2) NULL,
	[ServiceTypeKey] [varchar](100) NULL,
	[ServiceCategoryKey] [varchar](100) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
