USE [KingResearch]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__ModifiedO__09A971A2]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__IsWon__04E4BC85]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__IsSpam__03F0984C]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__CreatedOn__08B54D69]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__IsDelete__06CD04F7]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__IsDisable__05D8E0BE]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__LeadSourc__01142BA1]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__LeadTypeK__00200768]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__AssignedT__0A9D95DB]
GO
ALTER TABLE [dbo].[Leads] DROP CONSTRAINT [DF__Leads__PublicKey__07C12930]
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Leads]
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Leads](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[FullName] [varchar](150) NULL,
	[Gender] [char](1) NULL,
	[MobileNumber] [varchar](100) NOT NULL,
	[EmailId] [varchar](100) NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[PriorityStatus] [varchar](20) NULL,
	[AssignedTo] [varchar](100) NULL,
	[ServiceKey] [varchar](100) NULL,
	[LeadTypeKey] [varchar](100) NULL,
	[LeadSourceKey] [varchar](100) NULL,
	[Remarks] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](100) NOT NULL,
	[IsSpam] [tinyint] NULL,
	[IsWon] [tinyint] NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[ModifiedBy] [varchar](100) NOT NULL,
	[City] [varchar](100) NULL,
	[PinCode] [varchar](15) NULL,
 CONSTRAINT [PK__Leads__3214EC07DF7B12F4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__PublicKey__07C12930]  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__AssignedT__0A9D95DB]  DEFAULT ('BB74D26F-AA28-EB11-BEE5-00155D53687A') FOR [AssignedTo]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__LeadTypeK__00200768]  DEFAULT ('4C98BD0B-6F08-EB11-BFA7-00155D53687A') FOR [LeadTypeKey]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__LeadSourc__01142BA1]  DEFAULT ('EB82ED26-6708-EB11-BFA7-00155D53687A') FOR [LeadSourceKey]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__IsDisable__05D8E0BE]  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__IsDelete__06CD04F7]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__CreatedOn__08B54D69]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__IsSpam__03F0984C]  DEFAULT ((0)) FOR [IsSpam]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__IsWon__04E4BC85]  DEFAULT ((0)) FOR [IsWon]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF__Leads__ModifiedO__09A971A2]  DEFAULT (NULL) FOR [ModifiedOn]
GO
