USE [KingResearch]
GO
ALTER TABLE [dbo].[CustomerTags] DROP CONSTRAINT [DF__CustomerT__Modif__6EF57B66]
GO
ALTER TABLE [dbo].[CustomerTags] DROP CONSTRAINT [DF__CustomerT__Creat__6E01572D]
GO
ALTER TABLE [dbo].[CustomerTags] DROP CONSTRAINT [DF__CustomerT__Publi__6D0D32F4]
GO
ALTER TABLE [dbo].[CustomerTags] DROP CONSTRAINT [DF__CustomerT__IsDel__6C190EBB]
GO
/****** Object:  Table [dbo].[CustomerTags]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[CustomerTags]
GO
/****** Object:  Table [dbo].[CustomerTags]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[CustomerTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerKey] [nvarchar](100) NULL,
	[TagKey] [nvarchar](100) NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CustomerTags] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CustomerTags] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CustomerTags] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CustomerTags] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
