USE [KingResearch]
GO
ALTER TABLE [dbo].[LeadTypes] DROP CONSTRAINT [DF__LeadTypes__Modif__151B244E]
GO
ALTER TABLE [dbo].[LeadTypes] DROP CONSTRAINT [DF__LeadTypes__Creat__14270015]
GO
ALTER TABLE [dbo].[LeadTypes] DROP CONSTRAINT [DF__LeadTypes__Publi__1332DBDC]
GO
ALTER TABLE [dbo].[LeadTypes] DROP CONSTRAINT [DF__LeadTypes__IsDel__123EB7A3]
GO
ALTER TABLE [dbo].[LeadTypes] DROP CONSTRAINT [DF__LeadTypes__IsDis__114A936A]
GO
/****** Object:  Table [dbo].[LeadTypes]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[LeadTypes]
GO
/****** Object:  Table [dbo].[LeadTypes]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LeadTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
