USE [KingResearch]
GO
ALTER TABLE [dbo].[PaymentModes] DROP CONSTRAINT [DF__PaymentMo__Modif__25518C17]
GO
ALTER TABLE [dbo].[PaymentModes] DROP CONSTRAINT [DF__PaymentMo__Creat__245D67DE]
GO
ALTER TABLE [dbo].[PaymentModes] DROP CONSTRAINT [DF__PaymentMo__Publi__236943A5]
GO
ALTER TABLE [dbo].[PaymentModes] DROP CONSTRAINT [DF__PaymentMo__IsDel__22751F6C]
GO
ALTER TABLE [dbo].[PaymentModes] DROP CONSTRAINT [DF__PaymentMo__IsDis__2180FB33]
GO
/****** Object:  Table [dbo].[PaymentModes]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[PaymentModes]
GO
/****** Object:  Table [dbo].[PaymentModes]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentModes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
