USE [KingResearch]
GO
/****** Object:  Table [dbo].[PartnerComments]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[PartnerComments]
GO
/****** Object:  Table [dbo].[PartnerComments]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartnerId] [int] NOT NULL,
	[Comments] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_PartnerComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[PartnerComments] ON 

INSERT [dbo].[PartnerComments] ([Id], [PartnerId], [Comments], [CreatedOn], [CreatedBy]) VALUES (5, 30832, N'', CAST(N'2022-08-28 17:33:47.283' AS DateTime), 0)
INSERT [dbo].[PartnerComments] ([Id], [PartnerId], [Comments], [CreatedOn], [CreatedBy]) VALUES (6, 30832, N'Testing by vijay sahu 1', CAST(N'2022-08-28 17:53:56.107' AS DateTime), 0)
INSERT [dbo].[PartnerComments] ([Id], [PartnerId], [Comments], [CreatedOn], [CreatedBy]) VALUES (7, 30832, N'Test by vijay again ', CAST(N'2022-08-28 17:54:26.800' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[PartnerComments] OFF
