USE [KingResearch]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__ModifiedO__1BC821DD]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__CreatedOn__1AD3FDA4]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__PublicKey__19DFD96B]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__IsDelete__18EBB532]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__IsDisable__17F790F9]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__SortOrder__17036CC0]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__ParentId__160F4887]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Menus]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](250) NULL,
	[Url] [varchar](250) NULL,
	[ParentId] [int] NULL,
	[SortOrder] [int] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
	[IsLHS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [Name], [Description], [Url], [ParentId], [SortOrder], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsLHS]) VALUES (1, N'Dashboard', N'', N'/dashboard', 0, 1, 0, 0, N'6bb7ae04-c25b-eb11-977d-00155d53687a', CAST(N'2021-01-21 13:54:03.527' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Menus] ([Id], [Name], [Description], [Url], [ParentId], [SortOrder], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsLHS]) VALUES (2, N'Customers', N'', N'/customers', 0, 2, 0, 0, N'7db447b4-f35b-eb11-b39f-00155d53687a', CAST(N'2021-01-21 19:49:43.470' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Menus] ([Id], [Name], [Description], [Url], [ParentId], [SortOrder], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsLHS]) VALUES (3, N'Add Customers', N'', N'/customers/form', 2, 1, 0, 0, N'7eb447b4-f35b-eb11-b39f-00155d53687a', CAST(N'2021-01-21 19:49:49.470' AS DateTime), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Menus] OFF
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((0)) FOR [ParentId]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((100)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
