USE [KingResearch]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[UserTypes]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[UserTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[UserTypes] ON 

INSERT [dbo].[UserTypes] ([Id], [Name]) VALUES (1, N'Lead')
INSERT [dbo].[UserTypes] ([Id], [Name]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[UserTypes] OFF
