USE [KingResearch]
GO
ALTER TABLE [dbo].[Segments] DROP CONSTRAINT [DF__Segments__Modifi__3D2915A8]
GO
ALTER TABLE [dbo].[Segments] DROP CONSTRAINT [DF__Segments__Create__3C34F16F]
GO
ALTER TABLE [dbo].[Segments] DROP CONSTRAINT [DF__Segments__Public__3B40CD36]
GO
ALTER TABLE [dbo].[Segments] DROP CONSTRAINT [DF__Segments__IsDele__3A4CA8FD]
GO
ALTER TABLE [dbo].[Segments] DROP CONSTRAINT [DF__Segments__IsDisa__395884C4]
GO
/****** Object:  Table [dbo].[Segments]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Segments]
GO
/****** Object:  Table [dbo].[Segments]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Segments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
