USE [KingResearch]
GO
ALTER TABLE [dbo].[CommunicationModes] DROP CONSTRAINT [DF__Communica__Modif__59063A47]
GO
ALTER TABLE [dbo].[CommunicationModes] DROP CONSTRAINT [DF__Communica__Creat__5812160E]
GO
ALTER TABLE [dbo].[CommunicationModes] DROP CONSTRAINT [DF__Communica__Publi__571DF1D5]
GO
ALTER TABLE [dbo].[CommunicationModes] DROP CONSTRAINT [DF__Communica__IsDel__5629CD9C]
GO
ALTER TABLE [dbo].[CommunicationModes] DROP CONSTRAINT [DF__Communica__IsDis__5535A963]
GO
/****** Object:  Table [dbo].[CommunicationModes]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[CommunicationModes]
GO
/****** Object:  Table [dbo].[CommunicationModes]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CommunicationModes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
