USE [KingResearch]
GO
ALTER TABLE [dbo].[RoleMenus] DROP CONSTRAINT [DF__RoleMenus__Modif__339FAB6E]
GO
ALTER TABLE [dbo].[RoleMenus] DROP CONSTRAINT [DF__RoleMenus__Creat__32AB8735]
GO
ALTER TABLE [dbo].[RoleMenus] DROP CONSTRAINT [DF__RoleMenus__Publi__31B762FC]
GO
ALTER TABLE [dbo].[RoleMenus] DROP CONSTRAINT [DF__RoleMenus__IsDel__30C33EC3]
GO
ALTER TABLE [dbo].[RoleMenus] DROP CONSTRAINT [DF__RoleMenus__IsDis__2FCF1A8A]
GO
/****** Object:  Table [dbo].[RoleMenus]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[RoleMenus]
GO
/****** Object:  Table [dbo].[RoleMenus]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoleMenus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleKey] [varchar](100) NULL,
	[MenuKey] [varchar](100) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[RoleMenus] ON 

INSERT [dbo].[RoleMenus] ([Id], [RoleKey], [MenuKey], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (11, N'Staff', N'Call Performance', 0, 1, N'249ad45a-e675-eb11-9fe9-00155d53687a', CAST(N'2021-02-23 20:19:40.170' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[RoleMenus] ([Id], [RoleKey], [MenuKey], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (44, N'84f4fa8b-db6a-4d1e-917d-5862b376ccd3', N'8e79b4ce-9e75-eb11-9fe9-00155d53687a', 0, 0, N'669ca8f0-7885-eb11-94db-00155d53687a', CAST(N'2021-03-15 15:56:45.500' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[RoleMenus] ([Id], [RoleKey], [MenuKey], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (45, N'84f4fa8b-db6a-4d1e-917d-5862b376ccd3', N'0a5fa3bd-a575-eb11-9fe9-00155d53687a', 0, 0, N'18d54dbb-8285-eb11-94db-00155d53687a', CAST(N'2021-03-15 17:06:50.960' AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[RoleMenus] OFF
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
