USE [KingResearch]
GO
ALTER TABLE [dbo].[CommunicationTemplates] DROP CONSTRAINT [DF__Communica__Modif__5DCAEF64]
GO
ALTER TABLE [dbo].[CommunicationTemplates] DROP CONSTRAINT [DF__Communica__Creat__5CD6CB2B]
GO
ALTER TABLE [dbo].[CommunicationTemplates] DROP CONSTRAINT [DF__Communica__Publi__5BE2A6F2]
GO
ALTER TABLE [dbo].[CommunicationTemplates] DROP CONSTRAINT [DF__Communica__IsDel__5AEE82B9]
GO
ALTER TABLE [dbo].[CommunicationTemplates] DROP CONSTRAINT [DF__Communica__IsDis__59FA5E80]
GO
/****** Object:  Table [dbo].[CommunicationTemplates]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[CommunicationTemplates]
GO
/****** Object:  Table [dbo].[CommunicationTemplates]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CommunicationTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[ModeKey] [varchar](100) NULL,
	[Template] [nvarchar](max) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
