USE [KingResearch]
GO
ALTER TABLE [dbo].[Expirys] DROP CONSTRAINT [DF__Expirys__Modifie__7F2BE32F]
GO
ALTER TABLE [dbo].[Expirys] DROP CONSTRAINT [DF__Expirys__Created__7E37BEF6]
GO
ALTER TABLE [dbo].[Expirys] DROP CONSTRAINT [DF__Expirys__PublicK__7D439ABD]
GO
ALTER TABLE [dbo].[Expirys] DROP CONSTRAINT [DF__Expirys__IsDelet__7C4F7684]
GO
ALTER TABLE [dbo].[Expirys] DROP CONSTRAINT [DF__Expirys__IsDisab__7B5B524B]
GO
/****** Object:  Table [dbo].[Expirys]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Expirys]
GO
/****** Object:  Table [dbo].[Expirys]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Expirys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
