USE [KingResearch]
GO
ALTER TABLE [dbo].[Customers] DROP CONSTRAINT [DF__Customers__Modif__619B8048]
GO
ALTER TABLE [dbo].[Customers] DROP CONSTRAINT [DF__Customers__Creat__60A75C0F]
GO
ALTER TABLE [dbo].[Customers] DROP CONSTRAINT [DF__Customers__Publi__5FB337D6]
GO
ALTER TABLE [dbo].[Customers] DROP CONSTRAINT [DF__Customers__IsDel__5EBF139D]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Customers]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerTypeKey] [varchar](100) NULL,
	[SegmentKey] [varchar](100) NULL,
	[TotalPurchases] [decimal](12, 2) NULL,
	[Remarks] [varchar](300) NULL,
	[LeadKey] [varchar](100) NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
