USE [KingResearch]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__PasswordK__6166761E]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__Password__607251E5]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__ModifiedO__5F7E2DAC]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__CreatedOn__5E8A0973]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__PublicKey__5D95E53A]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsDelete__5CA1C101]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsDisable__5BAD9CC8]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[MobileNumber] [varchar](100) NULL,
	[PasswordHash] [varbinary](500) NULL,
	[PasswordSalt] [varbinary](300) NULL,
	[EmailId] [varchar](100) NULL,
	[DOJ] [varchar](100) NULL,
	[Address] [varchar](300) NULL,
	[RoleKey] [varchar](100) NULL,
	[Gender] [varchar](100) NULL,
	[UserImage] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[Users] ADD [Password] [varchar](100) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[Users] ADD [PasswordKey] [varchar](50) NULL
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [Password]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [PasswordKey]
GO
