USE [KingResearch]
GO
ALTER TABLE [dbo].[ServiceCategories] DROP CONSTRAINT [DF__ServiceCa__Modif__41EDCAC5]
GO
ALTER TABLE [dbo].[ServiceCategories] DROP CONSTRAINT [DF__ServiceCa__Creat__40F9A68C]
GO
ALTER TABLE [dbo].[ServiceCategories] DROP CONSTRAINT [DF__ServiceCa__Publi__40058253]
GO
ALTER TABLE [dbo].[ServiceCategories] DROP CONSTRAINT [DF__ServiceCa__IsDel__3F115E1A]
GO
ALTER TABLE [dbo].[ServiceCategories] DROP CONSTRAINT [DF__ServiceCa__IsDis__3E1D39E1]
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[ServiceCategories]
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiceCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
