USE [KingResearch]
GO
ALTER TABLE [dbo].[Stocks] DROP CONSTRAINT [DF__Stocks__Modified__51300E55]
GO
ALTER TABLE [dbo].[Stocks] DROP CONSTRAINT [DF__Stocks__CreatedO__503BEA1C]
GO
ALTER TABLE [dbo].[Stocks] DROP CONSTRAINT [DF__Stocks__PublicKe__4F47C5E3]
GO
ALTER TABLE [dbo].[Stocks] DROP CONSTRAINT [DF__Stocks__IsDelete__4E53A1AA]
GO
ALTER TABLE [dbo].[Stocks] DROP CONSTRAINT [DF__Stocks__IsDisabl__4D5F7D71]
GO
ALTER TABLE [dbo].[Stocks] DROP CONSTRAINT [DF__Stocks__LotSize__4C6B5938]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Stocks]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stocks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[LotSize] [int] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Stocks] ON 

INSERT [dbo].[Stocks] ([Id], [Name], [Description], [LotSize], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (151, N'JSWSTEEL', N'JSW STEEL LIMITED                   ', 1350, 0, 0, N'7ed5956e-862c-44bc-9614-0049bc8e597e', CAST(N'2022-10-03 10:16:26.517' AS DateTime), N'1', CAST(N'2022-10-03 10:16:26.517' AS DateTime), N'1')
INSERT [dbo].[Stocks] ([Id], [Name], [Description], [LotSize], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (191, N'BALKRISIND', N'BALKRISHNA IND. LTD                 ', 300, 0, 0, N'b81e16d7-2cf0-4c42-9485-00c98270a646', CAST(N'2022-10-03 10:16:26.517' AS DateTime), N'1', CAST(N'2022-10-03 10:16:26.517' AS DateTime), N'1')
INSERT [dbo].[Stocks] ([Id], [Name], [Description], [LotSize], [IsDisabled], [IsDelete], [PublicKey], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (154, N'OBEROIRLTY', N'OBEROI REALTY LIMITED               ', 700, 0, 0, N'8e59f797-8432-4af3-936a-01c4468b0b45', CAST(N'2022-10-03 10:16:26.517' AS DateTime), N'1', CAST(N'2022-10-03 10:16:26.517' AS DateTime), N'1')
GO
SET IDENTITY_INSERT [dbo].[Stocks] OFF
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((1)) FOR [LotSize]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
