USE [KingResearch]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__Modif__5441852A]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__Creat__534D60F1]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__Publi__52593CB8]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__IsDel__5165187F]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__IsDis__5070F446]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__IsPub__4F7CD00D]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__CallS__4E88ABD4]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__LotSi__4D94879B]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__IsInt__4CA06362]
GO
ALTER TABLE [dbo].[CallPerformance] DROP CONSTRAINT [DF__CallPerfo__Trade__4BAC3F29]
GO
/****** Object:  Table [dbo].[CallPerformance]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[CallPerformance]
GO
/****** Object:  Table [dbo].[CallPerformance]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[CallPerformance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TradeType] [varchar](30) NULL,
	[CallDate] [datetime] NULL,
	[StrategyKey] [varchar](50) NULL,
	[CallServiceKey] [varchar](50) NULL,
	[IsIntraday] [varchar](50) NULL,
	[StockKey] [varchar](50) NULL,
	[LotSize] [int] NULL,
	[SegmentKey] [varchar](50) NULL,
	[ExpiryKey] [varchar](50) NULL,
	[OptionValue] [varchar](100) NULL,
	[EntryPrice] [decimal](12, 2) NULL,
	[StopLossPrice] [decimal](12, 2) NULL,
	[Target1Price] [decimal](12, 2) NULL,
	[Target2Price] [decimal](12, 2) NULL,
	[Target3Price] [decimal](12, 2) NULL,
	[ExpectedReturn] [decimal](12, 2) NULL,
	[CallStatus] [varchar](50) NULL,
	[ExitPrice] [decimal](12, 2) NULL,
	[ResultHigh] [decimal](12, 2) NULL,
	[ResultTypeKey] [varchar](50) NULL,
	[ActualReturn] [decimal](12, 2) NULL,
	[NetResult] [decimal](12, 2) NULL,
	[Remarks] [varchar](500) NULL,
	[CallByKey] [varchar](50) NULL,
	[IsPublic] [tinyint] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ('Buy') FOR [TradeType]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ('Yes') FOR [IsIntraday]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ((1)) FOR [LotSize]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ('Open') FOR [CallStatus]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ((0)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
