USE [KingResearch]
GO
ALTER TABLE [dbo].[Tags] DROP CONSTRAINT [DF__Tags__ModifiedOn__5AB9788F]
GO
ALTER TABLE [dbo].[Tags] DROP CONSTRAINT [DF__Tags__CreatedOn__59C55456]
GO
ALTER TABLE [dbo].[Tags] DROP CONSTRAINT [DF__Tags__PublicKey__58D1301D]
GO
ALTER TABLE [dbo].[Tags] DROP CONSTRAINT [DF__Tags__IsDelete__57DD0BE4]
GO
ALTER TABLE [dbo].[Tags] DROP CONSTRAINT [DF__Tags__IsDisabled__56E8E7AB]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Tags]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
