USE [KingResearch]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__IsAdm__7A672E12]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__Modif__797309D9]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__Creat__787EE5A0]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__Publi__778AC167]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__IsDel__76969D2E]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__IsDis__75A278F5]
GO
ALTER TABLE [dbo].[Enquiries] DROP CONSTRAINT [DF__Enquiries__IsLea__74AE54BC]
GO
/****** Object:  Table [dbo].[Enquiries]    Script Date: 2/2/2023 9:59:09 AM ******/
DROP TABLE [dbo].[Enquiries]
GO
/****** Object:  Table [dbo].[Enquiries]    Script Date: 2/2/2023 9:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Enquiries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Details] [varchar](1000) NULL,
	[IsLead] [tinyint] NULL,
	[ReferenceKey] [varchar](100) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
	[IsAdmin] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((1)) FOR [IsLead]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((1)) FOR [IsAdmin]
GO
