USE [master]
GO
/****** Object:  Database [KingResearch]    Script Date: 6/13/2021 10:53:47 AM ******/
CREATE DATABASE [KingResearch]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kingresearch', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Kingresearch.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Kingresearch_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Kingresearch_log.ldf' , SIZE = 4672KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KingResearch].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KingResearch]
GO
/****** Object:  User [kingmobileapp]    Script Date: 6/13/2021 10:53:47 AM ******/
CREATE USER [kingmobileapp] FOR LOGIN [kingmobileapp] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\crmapp.RM.site]    Script Date: 6/13/2021 10:53:47 AM ******/
CREATE USER [IIS APPPOOL\crmapp.RM.site] FOR LOGIN [IIS APPPOOL\crmapp.RM.site] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\crmapp.RM.site]
GO
/****** Object:  UserDefinedFunction [dbo].[fnCleanDefaultValue]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnCleanDefaultValue](@sDefaultValue varchar(4000))
RETURNS varchar(4000)
AS
BEGIN
	RETURN SubString(@sDefaultValue, 2, DataLength(@sDefaultValue)-2)
END



GO
/****** Object:  UserDefinedFunction [dbo].[fnColumnDefault]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnColumnDefault](@sTableName varchar(128), @sColumnName varchar(128))
RETURNS varchar(4000)
AS
BEGIN
	DECLARE @sDefaultValue varchar(4000)

	SELECT	@sDefaultValue = dbo.fnCleanDefaultValue(COLUMN_DEFAULT)
	FROM	INFORMATION_SCHEMA.COLUMNS
	WHERE	TABLE_NAME = @sTableName
	 AND 	COLUMN_NAME = @sColumnName

	RETURN 	@sDefaultValue

END



GO
/****** Object:  UserDefinedFunction [dbo].[fnIsColumnPrimaryKey]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fnIsColumnPrimaryKey](@sTableName varchar(128), @nColumnName varchar(128))
RETURNS bit
AS
BEGIN
	DECLARE @nTableID int,
		@nIndexID int,
		@i int
	
	SET 	@nTableID = OBJECT_ID(@sTableName)
	
	SELECT 	@nIndexID = indid
	FROM 	sysindexes
	WHERE 	id = @nTableID
	 AND 	indid BETWEEN 1 And 254 
	 AND 	(status & 2048) = 2048
	
	IF @nIndexID Is Null
		RETURN 0
	
	IF @nColumnName IN
		(SELECT sc.[name]
		FROM 	sysindexkeys sik
			INNER JOIN syscolumns sc ON sik.id = sc.id AND sik.colid = sc.colid
		WHERE 	sik.id = @nTableID
		 AND 	sik.indid = @nIndexID)
	 BEGIN
		RETURN 1
	 END


	RETURN 0
END



GO
/****** Object:  UserDefinedFunction [dbo].[fnTableHasPrimaryKey]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnTableHasPrimaryKey](@sTableName varchar(128))
RETURNS bit
AS
BEGIN
	DECLARE @nTableID int,
		@nIndexID int
	
	SET 	@nTableID = OBJECT_ID(@sTableName)
	
	SELECT 	@nIndexID = indid
	FROM 	sysindexes
	WHERE 	id = @nTableID
	 AND 	indid BETWEEN 1 And 254 
	 AND 	(status & 2048) = 2048
	
	IF @nIndexID IS NOT Null
		RETURN 1
	
	RETURN 0
END



GO
/****** Object:  Table [dbo].[CallPerformance]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[CallPerformance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TradeType] [varchar](30) NULL,
	[CallDate] [datetime] NULL,
	[StrategyKey] [varchar](50) NULL,
	[CallServiceKey] [varchar](50) NULL,
	[IsIntraday] [varchar](50) NULL,
	[StockKey] [varchar](50) NULL,
	[LotSize] [int] NULL,
	[SegmentKey] [varchar](50) NULL,
	[ExpiryKey] [varchar](50) NULL,
	[OptionValue] [varchar](100) NULL,
	[EntryPrice] [decimal](12, 2) NULL,
	[StopLossPrice] [decimal](12, 2) NULL,
	[Target1Price] [decimal](12, 2) NULL,
	[Target2Price] [decimal](12, 2) NULL,
	[Target3Price] [decimal](12, 2) NULL,
	[ExpectedReturn] [decimal](12, 2) NULL,
	[CallStatus] [varchar](50) NULL,
	[ExitPrice] [decimal](12, 2) NULL,
	[ResultHigh] [decimal](12, 2) NULL,
	[ResultTypeKey] [varchar](50) NULL,
	[ActualReturn] [decimal](12, 2) NULL,
	[NetResult] [decimal](12, 2) NULL,
	[Remarks] [varchar](500) NULL,
	[CallByKey] [varchar](50) NULL,
	[IsPublic] [tinyint] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CommunicationModes]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CommunicationModes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CommunicationTemplates]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CommunicationTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[ModeKey] [varchar](100) NULL,
	[Template] [nvarchar](max) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerKYC]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerKYC](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LeadKey] [varchar](36) NOT NULL,
	[PANURL] [nvarchar](50) NULL,
	[PAN] [varchar](10) NULL,
	[Varified] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](36) NULL,
	[IsDelete] [bit] NULL,
	[Status] [varchar](50) NULL,
	[Remarks] [nvarchar](200) NULL,
	[JsonData] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CustomerKYC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerTypeKey] [varchar](100) NULL,
	[SegmentKey] [varchar](100) NULL,
	[TotalPurchases] [decimal](12, 2) NULL,
	[Remarks] [varchar](300) NULL,
	[LeadKey] [varchar](100) NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerServices]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerServices](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerKey] [varchar](100) NULL,
	[ServiceKey] [varchar](100) NULL,
	[PaymentModeKey] [varchar](100) NULL,
	[ActualCost] [decimal](12, 2) NULL,
	[AmountPaid] [decimal](12, 2) NULL,
	[AmountOutstanding] [decimal](12, 2) NULL,
	[Discount] [decimal](12, 2) NULL,
	[IsWon] [tinyint] NULL,
	[OrderId] [varchar](300) NULL,
	[Remarks] [varchar](500) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerTags]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[CustomerTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerKey] [nvarchar](100) NULL,
	[TagKey] [nvarchar](100) NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerTypes]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Enquiries]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Enquiries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Details] [varchar](1000) NULL,
	[IsLead] [tinyint] NULL,
	[ReferenceKey] [varchar](100) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
	[IsAdmin] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Expirys]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Expirys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Leads](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[FullName] [varchar](150) NULL,
	[Gender] [char](1) NULL,
	[MobileNumber] [varchar](100) NOT NULL,
	[EmailId] [varchar](100) NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[PriorityStatus] [varchar](20) NULL,
	[AssignedTo] [varchar](100) NULL,
	[ServiceKey] [varchar](100) NULL,
	[LeadTypeKey] [varchar](100) NULL,
	[LeadSourceKey] [varchar](100) NULL,
	[Remarks] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [varchar](100) NULL,
	[IsSpam] [tinyint] NULL,
	[IsWon] [tinyint] NULL,
	[ModifiedOn] [datetime] NOT NULL,
	[ModifiedBy] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[PinCode] [varchar](15) NULL,
 CONSTRAINT [PK__Leads__3214EC07DF7B12F4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Leads_shadow]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Leads_shadow](
	[AuditId] [bigint] IDENTITY(1,1) NOT NULL,
	[Id] [bigint] NOT NULL,
	[FullName] [varchar](150) NULL,
	[MobileNumber] [varchar](100) NULL,
	[EmailId] [varchar](100) NULL,
	[ServiceKey] [varchar](100) NULL,
	[LeadTypeKey] [varchar](100) NULL,
	[LeadSourceKey] [varchar](100) NULL,
	[Remarks] [varchar](300) NULL,
	[IsStudent] [tinyint] NULL,
	[IsCustomer] [tinyint] NULL,
	[IsSpam] [tinyint] NULL,
	[IsWon] [tinyint] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
	[AssignedTo] [varchar](100) NULL,
	[AuditAction] [char](1) NOT NULL,
	[AuditDate] [datetime] NOT NULL,
	[AuditUser] [varchar](50) NOT NULL,
	[AuditApp] [varchar](128) NULL,
 CONSTRAINT [PK_Leads_shadow] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LeadSources]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LeadSources](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LeadTypes]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LeadTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 6/13/2021 10:53:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](250) NULL,
	[Url] [varchar](250) NULL,
	[ParentId] [int] NULL,
	[SortOrder] [int] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
	[IsLHS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MobileUsers]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MobileUsers](
	[MobileUserId] [bigint] IDENTITY(1,1) NOT NULL,
	[LeadKey] [uniqueidentifier] NOT NULL,
	[OneTimePassword] [varchar](6) NULL,
	[IsOtpVerified] [bit] NOT NULL,
	[MobileToken] [varchar](200) NOT NULL,
	[DeviceType] [varchar](10) NOT NULL,
	[IMEI] [varchar](100) NULL,
	[StockNature] [varchar](50) NULL,
	[AgreeToTerms] [bit] NULL,
	[SameForWhatsApp] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[About] [varchar](200) NULL,
 CONSTRAINT [PK_MobileUsers] PRIMARY KEY CLUSTERED 
(
	[MobileUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PartnerAccounts]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PartnerAccounts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](150) NULL,
	[MobileNumber] [varchar](100) NULL,
	[EmailId] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[ZerodhaCId] [varchar](100) NULL,
	[AngelCId] [varchar](100) NULL,
	[AliceBlueCId] [varchar](100) NULL,
	[LeadKey] [varchar](100) NULL,
	[CustomerKey] [varchar](100) NULL,
	[Remarks] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedIpAddress] [varchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaymentModes]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentModes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PerformanceResults]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PerformanceResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pincodes]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pincodes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Pincode] [varchar](50) NULL,
	[Area] [varchar](150) NULL,
	[Division] [varchar](150) NULL,
	[District] [varchar](150) NULL,
	[State] [varchar](150) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoleMenus]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoleMenus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleKey] [varchar](100) NULL,
	[MenuKey] [varchar](100) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Segments]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Segments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiceCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Services]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NULL,
	[Description] [varchar](max) NULL,
	[ServiceCost] [decimal](12, 2) NULL,
	[ServiceTypeKey] [varchar](100) NULL,
	[ServiceCategoryKey] [varchar](100) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsRecurring] [tinyint] NULL,
	[RecurringTime] [int] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stocks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[LotSize] [int] NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Strategies]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Strategies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublicKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[MobileNumber] [varchar](100) NULL,
	[PasswordHash] [varbinary](500) NULL,
	[PasswordSalt] [varbinary](300) NULL,
	[EmailId] [varchar](100) NULL,
	[DOJ] [varchar](100) NULL,
	[Address] [varchar](300) NULL,
	[RoleKey] [varchar](100) NULL,
	[Gender] [varchar](100) NULL,
	[UserImage] [varchar](300) NULL,
	[IsDisabled] [tinyint] NULL,
	[IsDelete] [tinyint] NULL,
	[PublicKey] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[Users] ADD [Password] [varchar](100) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[Users] ADD [PasswordKey] [varchar](50) NULL
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[UserTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [dbo].[fnTableColumnInfo]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE       FUNCTION [dbo].[fnTableColumnInfo](@sTableName varchar(128))
RETURNS TABLE
AS
	RETURN
	SELECT	c.name AS sColumnName,
		c.colid AS nColumnID,
		dbo.fnIsColumnPrimaryKey(@sTableName, c.name) AS bPrimaryKeyColumn,
		CASE 	WHEN t.name IN ('char', 'varchar', 'binary', 'varbinary', 'nchar', 'nvarchar') THEN 1
			WHEN t.name IN ('decimal', 'numeric') THEN 2
			ELSE 0
		END AS nAlternateType,
		c.length AS nColumnLength,
		c.prec AS nColumnPrecision,
		c.scale AS nColumnScale, 
		c.IsNullable, 
		SIGN(c.status & 128) AS IsIdentity,
		t.name as sTypeName,
		dbo.fnColumnDefault(@sTableName, c.name) AS sDefaultValue
	FROM	syscolumns c 
		INNER JOIN systypes t ON c.xtype = t.xtype and c.usertype = t.usertype
	WHERE	c.id = OBJECT_ID(@sTableName)



GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ('Buy') FOR [TradeType]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ('Yes') FOR [IsIntraday]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ((1)) FOR [LotSize]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ('Open') FOR [CallStatus]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ((0)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CallPerformance] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CommunicationModes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CommunicationTemplates] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [ActualCost]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [AmountPaid]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [AmountOutstanding]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[CustomerServices] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[CustomerTags] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CustomerTags] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CustomerTags] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CustomerTags] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CustomerTypes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((1)) FOR [IsLead]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((1)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Expirys] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Leads] ADD  CONSTRAINT [DF_Leads_PublicKey]  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Leads_shadow] ADD  CONSTRAINT [DF_Leads_shadow_AuditDate]  DEFAULT (getdate()) FOR [AuditDate]
GO
ALTER TABLE [dbo].[Leads_shadow] ADD  CONSTRAINT [DF_Leads_shadow_AuditUser]  DEFAULT (suser_sname()) FOR [AuditUser]
GO
ALTER TABLE [dbo].[Leads_shadow] ADD  CONSTRAINT [DF_Leads_shadow_AuditApp]  DEFAULT (('App=('+rtrim(isnull(app_name(),'')))+') ') FOR [AuditApp]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LeadSources] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LeadTypes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((0)) FOR [ParentId]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((100)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[PartnerAccounts] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[PartnerAccounts] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[PartnerAccounts] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[PartnerAccounts] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PartnerAccounts] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PaymentModes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[PerformanceResults] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Pincodes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Segments] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ServiceCategories] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ServiceTypes] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((1)) FOR [LotSize]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Stocks] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Strategies] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newsequentialid()) FOR [PublicKey]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [Password]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [PasswordKey]
GO
/****** Object:  StoredProcedure [dbo].[GetFilteredCustomers]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFilteredCustomers]
		@CreatedBy int = null ,
		@Name varchar(100) = '',
		@TotalRecord INT = 0 OUTPUT
AS 
BEGIN

SELECT @TotalRecord = count(1) FROM Customers where CreatedBy = COALESCE(@CreatedBy, CreatedBy)

SELECT 
	Leads.FullName,
	Leads.MobileNumber,
	Leads.EmailId, 
	LeadTypes.Name as LeadType,  
	LeadSources.Name as LeadSource, 
	Leads.Remarks, 
	Leads.AssignedTo,
	Customers.CreatedBy   ,
	SUM(CustomerServices.AmountPaid) as TotalPurchase ,
	COUNT(Services.Name) as TotalService
From Customers 
INNER JOIN Leads 
	ON CONVERT(VARCHAR(36), Customers.LeadKey) = convert( varchar(36), Leads.PublicKey)
LEFT JOIN CustomerServices ON CONVERT(VARCHAR(36), Customers.PublicKey) = CONVERT(VARCHAR(36), CustomerServices.CustomerKey )
LEFT JOIN Services ON CustomerServices.ServiceKey = Services.PublicKey
INNER JOIN LeadSources ON Leads.LeadSourceKey =  LeadSources.PublicKey 
INNER JOIN LeadTypes on Leads.LeadTypeKey = LeadTypes.PublicKey
WHERE  Customers.IsDelete = 0 AND Leads.IsDelete = 0 
AND Customers.CreatedBy = Customers.CreatedBy
AND Customers.CreatedBy = coalesce(@CreatedBy ,Customers.CreatedBy)
AND (
	Leads.FullName 
		LIKE COALESCE('%'+ @Name + '%' , Leads.FullName) OR Leads.EmailId 
		LIKE COALESCE('%'+ @Name + '%' , Leads.EmailId)  OR Leads.MobileNumber 
		LIKE COALESCE('%'+ @Name + '%' , Leads.EmailId)
	)
GROUP BY CustomerServices.AmountPaid , Leads.FullName,
	Leads.MobileNumber,
	Leads.EmailId, 
	LeadTypes.Name, 
	LeadSources.Name,
	Leads.Remarks, 
	Leads.AssignedTo,
	Customers.CreatedBy,
	CustomerServices.ServiceKey,
	Services.Name
END

GO
/****** Object:  StoredProcedure [dbo].[GetPartnerAccounts]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPartnerAccounts]
(
	@IsPaging int =0,
	@PageSize int =0,
	@PageNumber int =30,
	@FromDate varchar(50) ='0',
	@ToDate varchar(50) ='0',	
	@SearchText varchar(250) =''	,
	@SortExpression varchar(50) ='Date'
)
AS
BEGIN	
 
	declare @StartIndex int =0
	declare @EndIndex int =0
	
	set @StartIndex = (@PageNumber-1) * @PageSize 
	set @EndIndex = @StartIndex + @PageSize 

	DECLARE @vTotalRecordCount INT  
	--DECLARE @vSortExpression varchar (100)
	--SET @vSortExpression = @SortExpression + ' ' + @SortOrder
	
	
	SELECT 
		ID, FullName, MobileNumber, Emailid, City , 
	(
		CASE WHEN COALESCE(ZerodhaCId , '' ) = ''
			THEN  
				(
					CASE WHEN COALESCE(AngelCId , '' ) = ''
					THEN  
					( 
						CASE WHEN COALESCE(AliceBlueCid , '' ) = ''
						THEN  ('') ELSE 'ALICE'
						END
					)
					ELSE 'ANGEL'
					END
				)
			ELSE 'ZERODHA'
			END

	) AS PartnerWith,
	(
		CASE WHEN COALESCE(ZerodhaCId , '' ) = ''
			THEN  
				(
					CASE WHEN COALESCE(AngelCId , '' ) = ''
					THEN  
					( 
						CASE WHEN COALESCE(AliceBlueCid , '' ) = ''
						THEN  ('') ELSE AliceBlueCid
						END
					)
					ELSE AngelCId
					END
				)
			ELSE ZerodhaCId
			END

	) AS ClientId,
	CONCAT(COALESCE(' Angel: ' + AngelCId + '  ', ''),COALESCE( '|| AliceBlue: ' + AliceBlueCid + '  ', ''), COALESCE( '|| Zerodha: ' +   ZerodhaCId + '  ', '') ) as Details  , Remarks , CreatedOn 
	FROM PartnerAccounts 
	WHERE COALESCE(MOBILENUMBER, '0') <> '0' 
	AND PartnerAccounts.FullName LIKE '%' + COALESCE(@SearchText, PartnerAccounts.FullName) + '%'
	OR PartnerAccounts.Emailid LIKE '%' + COALESCE(@SearchText, PartnerAccounts.Emailid) + '%'
	OR PartnerAccounts.ZerodhaCId LIKE '%' + COALESCE(@SearchText, PartnerAccounts.ZerodhaCId) + '%'
	OR PartnerAccounts.AliceBlueCid LIKE '%' + COALESCE(@SearchText, PartnerAccounts.AliceBlueCid) + '%'
	OR PartnerAccounts.AngelCId LIKE '%' + COALESCE(@SearchText, PartnerAccounts.AngelCId) + '%'

END

GO
/****** Object:  StoredProcedure [dbo].[PrintSQLResults]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[PrintSQLResults] 
    @query nvarchar(MAX),
    @numberToDisplay int = 10,
    @padding int = 20
as

SET NOCOUNT ON;
SET ANSI_WARNINGS ON;

declare @cols nvarchar(MAX), 
        @displayCols nvarchar(MAX), 
        @sql nvarchar(MAX), 
        @printableResults nvarchar(MAX),
        @NewLineChar AS char(2) = char(13) + char(10),
        @Tab AS char(9) = char(9);

if exists (select * from tempdb.sys.tables where name = '##PrintSQLResultsTempTable') drop table ##PrintSQLResultsTempTable

set @query = REPLACE(@query, 'from', ' into ##PrintSQLResultsTempTable from');
--print @query
exec(@query);
select ROW_NUMBER() OVER (ORDER BY (select Null)) AS ID12345XYZ, * into #PrintSQLResultsTempTable 
from ##PrintSQLResultsTempTable
drop table ##PrintSQLResultsTempTable

select name
into #PrintSQLResultsTempTableColumns
from tempdb.sys.columns where object_id =
object_id('tempdb..#PrintSQLResultsTempTable');

select @cols =
stuff((
    (select ' + space(1) + (LEFT( (CAST([' + name + '] as nvarchar(max)) + space('+ CAST(@padding as nvarchar(4)) +')), '+CAST(@padding as nvarchar(4))+')) ' as [text()]
    FROM #PrintSQLResultsTempTableColumns
    where name != 'ID12345XYZ'
    FOR XML PATH(''), root('str'), type ).value('/str[1]','nvarchar(max)'))
,1,0,'''''');

select @displayCols =
stuff((
    (select space(1) + LEFT(name + space(@padding), @padding) as [text()]
    FROM #PrintSQLResultsTempTableColumns
    where name != 'ID12345XYZ'
    FOR XML PATH(''), root('str'), type ).value('/str[1]','nvarchar(max)'))
,1,0,'');

DECLARE 
    @tableCount int = (select count(*) from #PrintSQLResultsTempTable);
DECLARE 
    @i int = 1, 
    @ii int = case when @tableCount < @numberToDisplay then @tableCount else @numberToDisplay end;

print @displayCols -- header
While @i <= @ii
BEGIN
    set @sql = N'select @printableResults = ' + @cols + ' + @NewLineChar from #PrintSQLResultsTempTable where ID12345XYZ = ' + CAST(@i as varchar(3)) + '; print @printableResults;'
    --print @sql
    execute sp_executesql @sql, N'@NewLineChar char(2), @printableResults nvarchar(max) output', @NewLineChar = @NewLineChar, @printableResults = @printableResults output
    print @printableResults
    SET @i += 1;
END

GO
/****** Object:  StoredProcedure [dbo].[Sp_Get_Leads]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_Get_Leads]
(
	@IsPaging int =0,
	@PageSize int =0,
	@PageNumber int =30,
	@SortOrder varchar(50) ='DESC',
	@SortExpression varchar(50) ='Date',	
	@FromDate varchar(50) ='0',
	@ToDate varchar(50) ='0',		
	@Id INT =0,
	@PrimaryKey varchar(50) ='0',
	@SecondaryKey varchar(50) ='0',
	@ThirdKey varchar(50) ='0',
	@FourthKey varchar(50) ='0',
	@FifthKey varchar(50) ='0',
	@CreatedBy varchar(50) ='0',
	@AssignedTo varchar(50) ='0',
	@LoggedInUser varchar(50) ='0',
	@RoleKey varchar(50) ='0',
	@SearchText varchar(250) =''
)
AS
BEGIN	

If @Id is null set @Id = 0
If @SortOrder is null set @SortOrder = 'DESC'
If @SortExpression is null set @SortExpression = 'Id'
If @PrimaryKey is null set @PrimaryKey = '0'
If @SecondaryKey is null set @SecondaryKey = '0'
If @ThirdKey is null set @ThirdKey = '0'
If @FourthKey is null set @FourthKey = '0'
If @FifthKey is null set @FifthKey = '0'
If @CreatedBy is null set @CreatedBy = '0'
If @CreatedBy = '' set @CreatedBy = '0'
If @AssignedTo = '' set @AssignedTo = '0'
If @AssignedTo is null set @AssignedTo = '0'
If @SearchText is null set @SearchText = ''
If @FromDate is null set @FromDate = '2000-01-01'
If @ToDate is null set @ToDate = '2100-01-01'
If @FromDate = '' set @FromDate = '2000-01-01'
If @ToDate = '' set @ToDate = '2100-01-01'
If @PageSize = 0 set @PageSize = 30
If @PageNumber = 0 set @PageNumber = 1

	print '@PrimaryKey' + @PrimaryKey
			print @SecondaryKey
			print @ThirdKey
			print @FourthKey
			print '@@CreatedBy' + @CreatedBy
			print @AssignedTo
			print @SearchText
			print @FromDate
			print @ToDate
		

Update Leads set AssignedTo = CreatedBy where (AssignedTo is null)
declare @RoleId int =0
Select @RoleId = Id from Roles where CONVERT(VARCHAR(100), PublicKey) = @RoleKey


	declare @StartIndex int =0
	declare @EndIndex int =0
	
	set @StartIndex = (@PageNumber-1) * @PageSize 
	set @EndIndex = @StartIndex + @PageSize 

	DECLARE @vTotalRecordCount INT  
	DECLARE @vSortExpression varchar (100)
	SET @vSortExpression = @SortExpression + ' ' + @SortOrder
	
	print @StartIndex
	print @EndIndex

	print ' Role Id  '
	print @RoleId
	
if (@RoleId = 1)
	Begin 
	
----	SELECT a.[Id],a.[FullName],a.[MobileNumber],a.[EmailId],b.Name as  [ServiceKey], c.Name as [LeadTypeKey],d.Name as [LeadSourceKey],a.[Remarks],a.[IsStudent],a.[IsCustomer],a.[IsSpam],a.[IsWon],a.[IsDisabled],a.[IsDelete],a.[PublicKey],a.[CreatedOn], cu.FirstName as  [CreatedBy],a.[ModifiedOn],a.[ModifiedBy],au.FirstName as [AssignedTo] 
----	FROM Leads a , Services b, LeadTypes c, LeadSources d, Users cu, Users au
----	WHERE (
----	 (a.[ServiceKey] = CONVERT(VARCHAR(100), b.PublicKey))
----	AND  (a.[LeadTypeKey] = CONVERT(VARCHAR(100), c.PublicKey))
----	AND  (a.[LeadSourceKey] = CONVERT(VARCHAR(100), d.PublicKey))
----	AND  (a.[CreatedBy] = CONVERT(VARCHAR(100), cu.PublicKey))
----	AND  (a.[AssignedTo] = CONVERT(VARCHAR(100), au.PublicKey))
----	AND(@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
----	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
----	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
----	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
----	AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
----	AND (@AssignedTo ='0' or @AssignedTo=a.[AssignedTo])
----	AND ((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
----AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
----AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 	
----	)    


SELECT @vTotalRecordCount=COUNT(ID)FROM Leads a  where (
	 (@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
	AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
	AND (@AssignedTo ='0' or @AssignedTo=a.[AssignedTo])
	AND	((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
	AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
	AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 
			)
			
	print @vTotalRecordCount
	
		SELECT *,@vTotalRecordCount as TotalRecordCount
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY
			CASE WHEN @vSortExpression='Date DESC' THEN a.[Id] END DESC,
			CASE WHEN @vSortExpression='Date ASC' THEN a.[Id] END ASC,
			CASE WHEN @vSortExpression='Name DESC' THEN a.[FullName] END DESC,
			CASE WHEN @vSortExpression='Name ASC' THEN a.[FullName] END ASC,
			CASE WHEN @vSortExpression='LeadType DESC' THEN c.Name END DESC,
			CASE WHEN @vSortExpression='LeadType ASC' THEN c.Name END ASC
			) AS 
			ROW_ID,a.[Id],a.[FullName],a.[MobileNumber],a.[EmailId],b.Name as  [ServiceKey], c.Name as [LeadTypeKey],d.Name as [LeadSourceKey],
			a.[Remarks],a.[IsSpam],a.[IsWon],
			a.[IsDisabled],a.[IsDelete],a.[PublicKey],a.[CreatedOn], cu.FirstName as  [CreatedBy],a.[ModifiedOn],a.[ModifiedBy],au.FirstName as [AssignedTo] 
	FROM Leads a , Services b, LeadTypes c, LeadSources d, Users cu, Users au
		WHERE (
		 (a.[ServiceKey] = CONVERT(VARCHAR(100), b.PublicKey))
	AND  (a.[LeadTypeKey] = CONVERT(VARCHAR(100), c.PublicKey))
	AND  (a.[LeadSourceKey] = CONVERT(VARCHAR(100), d.PublicKey))
	AND  (a.[CreatedBy] = CONVERT(VARCHAR(100), cu.PublicKey))
	AND  (a.[AssignedTo] = CONVERT(VARCHAR(100), au.PublicKey))
	AND(@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
	AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
	AND (@AssignedTo ='0' or @AssignedTo=a.[AssignedTo])
	AND ((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 
			)
			) ld     
		WHERE 
			ROW_ID BETWEEN @StartIndex AND @EndIndex
			
				
	
	
	End
	ELSE 
	BEGIN
	
	set @AssignedTo = @LoggedInUser	
	----SELECT a.[Id],a.[FullName],a.[MobileNumber],a.[EmailId],b.Name as  [ServiceKey], c.Name as [LeadTypeKey],d.Name as [LeadSourceKey],a.[Remarks],a.[IsStudent],a.[IsCustomer],a.[IsSpam],a.[IsWon],a.[IsDisabled],a.[IsDelete],a.[PublicKey],a.[CreatedOn], cu.FirstName as  [CreatedBy],a.[ModifiedOn],a.[ModifiedBy],au.FirstName as [AssignedTo] 
	----FROM Leads a , Services b, LeadTypes c, LeadSources d, Users cu, Users au
	----WHERE (
	---- (a.[ServiceKey] = CONVERT(VARCHAR(100), b.PublicKey))
	----AND  (a.[LeadTypeKey] = CONVERT(VARCHAR(100), c.PublicKey))
	----AND  (a.[LeadSourceKey] = CONVERT(VARCHAR(100), d.PublicKey))
	----AND  (a.[CreatedBy] = CONVERT(VARCHAR(100), cu.PublicKey))
	----AND  (a.[AssignedTo] = CONVERT(VARCHAR(100), au.PublicKey))
	----AND  (@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
	----AND  (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
	----AND  (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
	----AND  (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
	----AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
	----AND (@AssignedTo ='0' or @LoggedInUser=a.[AssignedTo])
	----AND ((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
 ---- AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
 ---- AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 	
	----)   
	
	
	SELECT @vTotalRecordCount=COUNT(ID)FROM Leads a  where (
	 (@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
	--AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
	AND (@AssignedTo ='0' or @LoggedInUser=a.[AssignedTo])
	AND	((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
	AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
	AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 
			)
			
			print @vTotalRecordCount
	
		SELECT *,@vTotalRecordCount as TotalRecordCount
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY
			CASE WHEN @vSortExpression='Date DESC' THEN a.[Id] END DESC,
			CASE WHEN @vSortExpression='Date ASC' THEN a.[Id] END ASC,
			CASE WHEN @vSortExpression='Name DESC' THEN a.[FullName] END DESC,
			CASE WHEN @vSortExpression='Name ASC' THEN a.[FullName] END ASC,
			CASE WHEN @vSortExpression='LeadType DESC' THEN c.Name END DESC,
			CASE WHEN @vSortExpression='LeadType ASC' THEN c.Name END ASC
			) AS 
			ROW_ID,a.[Id],a.[FullName],a.[MobileNumber],a.[EmailId],b.Name as  [ServiceKey], c.Name as [LeadTypeKey],d.Name as [LeadSourceKey],a.[Remarks]
			,a.[IsSpam],a.[IsWon],a.[IsDisabled],a.[IsDelete],a.[PublicKey],a.[CreatedOn], cu.FirstName as  [CreatedBy],a.[ModifiedOn],a.[ModifiedBy],au.FirstName as [AssignedTo] 
	FROM Leads a , Services b, LeadTypes c, LeadSources d, Users cu, Users au
		WHERE (
		 (a.[ServiceKey] = CONVERT(VARCHAR(100), b.PublicKey))
	AND  (a.[LeadTypeKey] = CONVERT(VARCHAR(100), c.PublicKey))
	AND  (a.[LeadSourceKey] = CONVERT(VARCHAR(100), d.PublicKey))
	AND  (a.[CreatedBy] = CONVERT(VARCHAR(100), cu.PublicKey))
	AND  (a.[AssignedTo] = CONVERT(VARCHAR(100), au.PublicKey))
	AND(@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
	--AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
	AND (@AssignedTo ='0' or @LoggedInUser=a.[AssignedTo])
	AND ((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 
			)
			) ld     
		WHERE 
			ROW_ID BETWEEN @StartIndex AND @EndIndex
	
	
	End
	

	
END

GO
/****** Object:  StoredProcedure [dbo].[Sp_Get_Leads_v]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_Get_Leads_v]
(
	@IsPaging int =0,
	@PageSize int =0,
	@PageNumber int =30,
	@SortOrder varchar(50) ='DESC',
	@SortExpression varchar(50) ='Id',	
	@FromDate varchar(50) ='0',
	@ToDate varchar(50) ='0',		
	@Id INT =0,
	@PrimaryKey varchar(50) ='0',
	@SecondaryKey varchar(50) ='0',
	@ThirdKey varchar(50) ='0',
	@FourthKey varchar(50) ='0',
	@FifthKey varchar(50) ='0',
	@CreatedBy varchar(50) ='0',
	@AssignedTo varchar(50) ='0',
	@LoggedInUser varchar(50) ='0',
	@RoleKey varchar(50) ='0',
	@SearchText varchar(250) =''
)
AS
BEGIN	

If @Id is null set @Id = 0
If @SortOrder is null set @SortOrder = 'DESC'
If @SortExpression is null set @SortExpression = 'Id'
If @PrimaryKey is null set @PrimaryKey = '0'
If @SecondaryKey is null set @SecondaryKey = '0'
If @ThirdKey is null set @ThirdKey = '0'
If @FourthKey is null set @FourthKey = '0'
If @FifthKey is null set @FifthKey = '0'
If @CreatedBy is null set @CreatedBy = '0'
If @CreatedBy = '' set @CreatedBy = '0'
If @AssignedTo = '' set @AssignedTo = '0'
If @AssignedTo is null set @AssignedTo = '0'
If @SearchText is null set @SearchText = ''
If @FromDate is null set @FromDate = '2000-01-01'
If @ToDate is null set @ToDate = '2100-01-01'
If @FromDate = '' set @FromDate = '2000-01-01'
If @ToDate = '' set @ToDate = '2100-01-01'

	print '@PrimaryKey' + @PrimaryKey
			print @SecondaryKey
			print @ThirdKey
			print @FourthKey
			print '@@CreatedBy' + @CreatedBy
			print @AssignedTo
			print @SearchText
			print @FromDate
			print @ToDate
		

Update Leads set AssignedTo = CreatedBy where (AssignedTo is null)


	declare @StartIndex int =0
	declare @EndIndex int =0
	declare @RoleId int =0

	Select @RoleId = Id from Roles where PublicKey = @RoleKey
	
	set @StartIndex = (@PageSize-1) * @PageNumber 
	set @EndIndex = @StartIndex + @PageNumber 

	DECLARE @vTotalRecordCount INT  
	DECLARE @vSortExpression varchar (100)
	SET @vSortExpression = @SortExpression + ' ' + @SortOrder
	
	print @StartIndex
			print @EndIndex
			
	
	
	print ' Role Id  '
	print @RoleId
	
	if (@RoleId = 1)
	Begin 
	
	
----	SELECT a.[Id],a.[FullName],a.[MobileNumber],a.[EmailId],b.Name as  [ServiceKey], c.Name as [LeadTypeKey],d.Name as [LeadSourceKey],a.[Remarks],a.[IsStudent],a.[IsCustomer],a.[IsSpam],a.[IsWon],a.[IsDisabled],a.[IsDelete],a.[PublicKey],a.[CreatedOn], cu.FirstName as  [CreatedBy],a.[ModifiedOn],a.[ModifiedBy],au.FirstName as [AssignedTo] 
----	FROM Leads a , Services b, LeadTypes c, LeadSources d, Users cu, Users au
----	WHERE (
----	 (a.[ServiceKey] = CONVERT(VARCHAR(100), b.PublicKey))
----	AND  (a.[LeadTypeKey] = CONVERT(VARCHAR(100), c.PublicKey))
----	AND  (a.[LeadSourceKey] = CONVERT(VARCHAR(100), d.PublicKey))
----	AND  (a.[CreatedBy] = CONVERT(VARCHAR(100), cu.PublicKey))
----	AND  (a.[AssignedTo] = CONVERT(VARCHAR(100), au.PublicKey))
----	AND(@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
----	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
----	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
----	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
----	AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
----	AND (@AssignedTo ='0' or @AssignedTo=a.[AssignedTo])
----	AND ((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
----AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
----AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 	
----	)    


SELECT @vTotalRecordCount=COUNT(ID)FROM Leads a  where (
	 (@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
	AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
	AND (@AssignedTo ='0' or @AssignedTo=a.[AssignedTo])
	AND	((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
	AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
	AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 
			)
			
	print @vTotalRecordCount
	
		SELECT *,@vTotalRecordCount as TotalRecordCount
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY
			CASE WHEN @vSortExpression='Id DESC' THEN a.[Id] END DESC,
			CASE WHEN @vSortExpression='Id ASC' THEN a.[Id] END ASC
			) AS 
			ROW_ID,a.[Id],a.[FullName],a.[MobileNumber],a.[EmailId],b.Name as  [ServiceKey], c.Name as [LeadTypeKey],d.Name as [LeadSourceKey],a.[Remarks],a.[IsSpam],a.[IsWon],a.[IsDisabled],a.[IsDelete],a.[PublicKey],a.[CreatedOn], cu.FirstName as  [CreatedBy],a.[ModifiedOn],a.[ModifiedBy],au.FirstName as [AssignedTo] 
	FROM Leads a , Services b, LeadTypes c, LeadSources d, Users cu, Users au
		WHERE (
		 (a.[ServiceKey] = CONVERT(VARCHAR(100), b.PublicKey))
	AND  (a.[LeadTypeKey] = CONVERT(VARCHAR(100), c.PublicKey))
	AND  (a.[LeadSourceKey] = CONVERT(VARCHAR(100), d.PublicKey))
	AND  (a.[CreatedBy] = CONVERT(VARCHAR(100), cu.PublicKey))
	AND  (a.[AssignedTo] = CONVERT(VARCHAR(100), au.PublicKey))
	AND(@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
	AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
	AND (@AssignedTo ='0' or @AssignedTo=a.[AssignedTo])
	AND ((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 
			)
			) ld     
		WHERE 
			ROW_ID BETWEEN @StartIndex AND @EndIndex
	End
	ELSE
	BEGIN
	
	set @AssignedTo = @LoggedInUser	
	
	
	
	----SELECT a.[Id],a.[FullName],a.[MobileNumber],a.[EmailId],b.Name as  [ServiceKey], c.Name as [LeadTypeKey],d.Name as [LeadSourceKey],a.[Remarks],a.[IsStudent],a.[IsCustomer],a.[IsSpam],a.[IsWon],a.[IsDisabled],a.[IsDelete],a.[PublicKey],a.[CreatedOn], cu.FirstName as  [CreatedBy],a.[ModifiedOn],a.[ModifiedBy],au.FirstName as [AssignedTo] 
	----FROM Leads a , Services b, LeadTypes c, LeadSources d, Users cu, Users au
	----WHERE (
	---- (a.[ServiceKey] = CONVERT(VARCHAR(100), b.PublicKey))
	----AND  (a.[LeadTypeKey] = CONVERT(VARCHAR(100), c.PublicKey))
	----AND  (a.[LeadSourceKey] = CONVERT(VARCHAR(100), d.PublicKey))
	----AND  (a.[CreatedBy] = CONVERT(VARCHAR(100), cu.PublicKey))
	----AND  (a.[AssignedTo] = CONVERT(VARCHAR(100), au.PublicKey))
	----AND  (@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
	----AND  (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
	----AND  (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
	----AND  (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
	----AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
	----AND (@AssignedTo ='0' or @LoggedInUser=a.[AssignedTo])
	----AND ((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
 ---- AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
 ---- AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 	
	----)   
	
	
	SELECT @vTotalRecordCount=COUNT(ID)FROM Leads a  where (
	 (@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
	--AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
	AND (@AssignedTo ='0' or @LoggedInUser=a.[AssignedTo])
	AND	((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
	AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
	AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 
			)
			
			print @vTotalRecordCount
	
		SELECT *,@vTotalRecordCount as TotalRecordCount
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY
			CASE WHEN @vSortExpression='Id DESC' THEN a.[Id] END DESC,
			CASE WHEN @vSortExpression='Id ASC' THEN a.[Id] END ASC
			) AS 
			ROW_ID,a.[Id],a.[FullName],a.[MobileNumber],a.[EmailId],b.Name as  [ServiceKey], c.Name as [LeadTypeKey],d.Name as [LeadSourceKey],a.[Remarks],a.[IsSpam],a.[IsWon],a.[IsDisabled],a.[IsDelete],a.[PublicKey],a.[CreatedOn], cu.FirstName as  [CreatedBy],a.[ModifiedOn],a.[ModifiedBy],au.FirstName as [AssignedTo] 
	FROM Leads a , Services b, LeadTypes c, LeadSources d, Users cu, Users au
		WHERE (
		 (a.[ServiceKey] = CONVERT(VARCHAR(100), b.PublicKey))
	AND  (a.[LeadTypeKey] = CONVERT(VARCHAR(100), c.PublicKey))
	AND  (a.[LeadSourceKey] = CONVERT(VARCHAR(100), d.PublicKey))
	AND  (a.[CreatedBy] = CONVERT(VARCHAR(100), cu.PublicKey))
	AND  (a.[AssignedTo] = CONVERT(VARCHAR(100), au.PublicKey))
	AND(@PrimaryKey ='0' OR CONVERT(VARCHAR(100), a.PublicKey)=@PrimaryKey) 
	AND (@SecondaryKey ='0' or @SecondaryKey=[ServiceKey]) 
	AND (@ThirdKey ='0' or @ThirdKey=[LeadTypeKey]) 
	AND (@FourthKey ='0' or @FourthKey=[LeadSourceKey]) 
	--AND (@CreatedBy ='0' or @CreatedBy=a.[CreatedBy]) 
	AND (@AssignedTo ='0' or @LoggedInUser=a.[AssignedTo])
	AND ((a.FullName like '%'+@SearchText+'%')or (a.MobileNumber like '%'+@SearchText+'%') or (a.EmailId like '%'+@SearchText+'%'))
AND (a.CreatedOn >  Convert(Datetime,@FromDate)) 
AND (a.CreatedOn <  Convert(Datetime,@ToDate)) 
			)
			) ld     
		WHERE 
			ROW_ID BETWEEN @StartIndex AND @EndIndex
	
	
	End
	
	
	 
	
END

GO
/****** Object:  StoredProcedure [dbo].[Sp_GetCustomerServices]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROC [dbo].[Sp_GetCustomerServices] 
@CustomerKey varchar(100)
AS
Begin

Select a.ID, a.CustomerKey,b.Name as ServiceKey, b.ServiceCost as AmountPaid, c.Name as PaymentModeKey, a.IsWon,
a.OrderId,a.Remarks,
 a.IsDisabled
           ,a.IsDelete
           ,a.PublicKey
           ,a.CreatedOn
           ,a.CreatedBy
           ,a.ModifiedOn
           ,a.ModifiedBy 
           from CustomerServices a , 
           Services b, 
           PaymentModes c 
           where 
           a.CustomerKey = @CustomerKey and 
           a.IsDelete = 0 and 
           a.PaymentModeKey = c.PublicKey and 
           a.ServiceKey = b.PublicKey
           
--Select * from CustomerServices  
--Select * from Services
End

GO
/****** Object:  StoredProcedure [dbo].[Sp_GetCustomerTags]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[Sp_GetCustomerTags]
@CustomerKey varchar(100)
AS
Begin

Select a.Id, a.CustomerKey,b.Name as TagKey
           ,a.IsDelete
           ,a.PublicKey
           ,a.CreatedOn
           ,a.CreatedBy
           ,a.ModifiedOn
           ,a.ModifiedBy 
           from CustomerTags a , 
           Tags b
           where 
           a.CustomerKey = @CustomerKey and 
           a.IsDelete = 0 and 
           a.TagKey = b.PublicKey
           
--Select * from CustomerServices  
--Select * from Services
End

GO
/****** Object:  StoredProcedure [dbo].[Sp_GetServices]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Sp_GetServices] 
--@ServiceId int
AS
Begin
--Select * from services 
Select a.ID, a.Name,a.Description, a.ServiceCost, b.Name as ServiceTypeKey, c.Name as ServiceCategoryKey, a.IsDisabled
           ,a.IsDelete
           ,a.PublicKey
           ,a.CreatedOn
           ,a.CreatedBy
           ,a.ModifiedOn
           ,a.ModifiedBy 
           from Services a , ServiceTypes b, ServiceCategories c where a.ServiceTypeKey = b.PublicKey and a.ServiceCategoryKey = c.PublicKey and a.IsDelete = 0 
End


GO
/****** Object:  StoredProcedure [dbo].[Sp_Roles_Select]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Sp_Roles_Select]
	--@Id int
AS

SELECT	Id,
	 [Name]
      ,[Description]
      ,[IsDisabled]
      ,[IsDelete]
      ,[PublicKey]
      ,[CreatedOn]
      ,[CreatedBy]
      ,[ModifiedOn]
      ,[ModifiedBy]
FROM	Roles
--WHERE 	Id = @Id


GO
/****** Object:  StoredProcedure [dbo].[Sp_Sys_Auto_Select]    Script Date: 6/13/2021 10:53:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Sp_Sys_Auto_Select]
	@sTableName varchar(128),
	@bExecute bit = 0
AS

IF dbo.fnTableHasPrimaryKey(@sTableName) = 0
 BEGIN
	RAISERROR ('Procedure cannot be created on a table with no primary key.', 10, 1)
	RETURN
 END

DECLARE	@sProcText varchar(8000),
	@sKeyFields varchar(2000),
	@sSelectClause varchar(2000),
	@sWhereClause varchar(2000),
	@sColumnName varchar(128),
	@nColumnID smallint,
	@bPrimaryKeyColumn bit,
	@nAlternateType int,
	@nColumnLength int,
	@nColumnPrecision int,
	@nColumnScale int,
	@IsNullable bit, 
	@IsIdentity int,
	@sTypeName varchar(128),
	@sDefaultValue varchar(4000),
	@sCRLF char(2),
	@sTAB char(1)

SET	@sTAB = char(9)
SET 	@sCRLF = char(13) + char(10)

SET 	@sProcText = ''
SET 	@sKeyFields = ''
SET	@sSelectClause = ''
SET	@sWhereClause = ''

SET 	@sProcText = @sProcText + 'IF EXISTS(SELECT * FROM sysobjects WHERE name = ''Sp_' + @sTableName + '_Select'')' + @sCRLF
SET 	@sProcText = @sProcText + @sTAB + 'DROP PROC Sp_' + @sTableName + '_Select' + @sCRLF
IF @bExecute = 0
	SET 	@sProcText = @sProcText + 'GO' + @sCRLF

SET 	@sProcText = @sProcText + @sCRLF

PRINT @sProcText

IF @bExecute = 1 
	EXEC (@sProcText)

SET 	@sProcText = ''
SET 	@sProcText = @sProcText + '----------------------------------------------------------------------------' + @sCRLF
SET 	@sProcText = @sProcText + '-- Select a single record from ' + @sTableName + @sCRLF
SET 	@sProcText = @sProcText + '----------------------------------------------------------------------------' + @sCRLF
SET 	@sProcText = @sProcText + 'CREATE PROC Sp_' + @sTableName + '_Select' + @sCRLF

DECLARE crKeyFields cursor for
	SELECT	*
	FROM	dbo.fnTableColumnInfo(@sTableName)
	ORDER BY 2

OPEN crKeyFields

FETCH 	NEXT 
FROM 	crKeyFields 
INTO 	@sColumnName, @nColumnID, @bPrimaryKeyColumn, @nAlternateType, 
	@nColumnLength, @nColumnPrecision, @nColumnScale, @IsNullable, 
	@IsIdentity, @sTypeName, @sDefaultValue
				
WHILE (@@FETCH_STATUS = 0)
 BEGIN
	IF (@bPrimaryKeyColumn = 1)
	 BEGIN
		IF (@sKeyFields <> '')
			SET @sKeyFields = @sKeyFields + ',' + @sCRLF 
	
		SET @sKeyFields = @sKeyFields + @sTAB + '@' + @sColumnName + ' ' + @sTypeName
	
		IF (@nAlternateType = 2) --decimal, numeric
			SET @sKeyFields =  @sKeyFields + '(' + CAST(@nColumnPrecision AS varchar(3)) + ', ' 
					+ CAST(@nColumnScale AS varchar(3)) + ')'
	
		ELSE IF (@nAlternateType = 1) --character and binary
			SET @sKeyFields =  @sKeyFields + '(' + CAST(@nColumnLength AS varchar(4)) +  ')'

		IF (@sWhereClause = '')
			SET @sWhereClause = @sWhereClause + 'WHERE ' 
		ELSE
			SET @sWhereClause = @sWhereClause + ' AND ' 

		SET @sWhereClause = @sWhereClause + @sTAB + @sColumnName  + ' = @' + @sColumnName + @sCRLF 
	 END

	IF (@sSelectClause = '')
		SET @sSelectClause = @sSelectClause + 'SELECT'
	ELSE
		SET @sSelectClause = @sSelectClause + ',' + @sCRLF 

	SET @sSelectClause = @sSelectClause + @sTAB + @sColumnName 

	FETCH 	NEXT 
	FROM 	crKeyFields 
	INTO 	@sColumnName, @nColumnID, @bPrimaryKeyColumn, @nAlternateType, 
		@nColumnLength, @nColumnPrecision, @nColumnScale, @IsNullable, 
		@IsIdentity, @sTypeName, @sDefaultValue
 END

CLOSE crKeyFields
DEALLOCATE crKeyFields

SET 	@sSelectClause = @sSelectClause + @sCRLF

SET 	@sProcText = @sProcText + @sKeyFields + @sCRLF
SET 	@sProcText = @sProcText + 'AS' + @sCRLF
SET 	@sProcText = @sProcText + @sCRLF
SET 	@sProcText = @sProcText + @sSelectClause
SET 	@sProcText = @sProcText + 'FROM	' + @sTableName + @sCRLF
SET 	@sProcText = @sProcText + @sWhereClause
SET 	@sProcText = @sProcText + @sCRLF
IF @bExecute = 0
	SET 	@sProcText = @sProcText + 'GO' + @sCRLF


PRINT @sProcText

IF @bExecute = 1 
	EXEC (@sProcText)


GO
USE [master]
GO
